workflows/ntc-14-missed-call-text-back.json
{
  "name": "Missed-Call Instant Text-Back",
  "tags": [],
  "nodes": [
    {
      "parameters": {
        "content": "## Missed-Call Instant Text-Back\n\n### How it works\n\nThis workflow receives call status events from Twilio or CallRail via webhook, normalizes the payload, and ignores events that are not genuine missed calls. For valid missed calls, it checks after-hours status, composes a personalized text-back message, and routes it through the Bar-Compliance Guardrail before sending via Twilio. The firm receives an email alert after every missed call, whether or not the text was delivered.\n\n### Setup steps\n\n- Set the Twilio StatusCallback URL (or CallRail webhook) to the Production URL from the trigger node.\n- Set FIRM_NAME, FIRM_EMAIL, FIRM_TWILIO_NUMBER, FIRM_TIMEZONE, FIRM_BOOKING_URL, FIRM_BUSINESS_HOURS_START, FIRM_BUSINESS_HOURS_END, FIRM_WORK_DAYS, and GUARDRAIL_WORKFLOW_ID in n8n project Variables.\n- Wire the Twilio credential and an SMTP email credential in project → Credentials tab.\n- Deploy the Bar-Compliance Guardrail workflow first and set its ID in GUARDRAIL_WORKFLOW_ID.\n\n### Customization\n\nChange the SMS message wording in the Compose Text-Back node. Adjust the business-hours logic in Check After Hours if your firm observes different time zones or non-standard schedules. Route the firm alert email to a different inbox by editing the 'to' address in Notify Firm by Email.",
        "width": 480,
        "height": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-752, -560],
      "id": "1400aa00-0001-4000-a000-000000000001",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Receive and validate call\n\nWebhook intake and normalization. Receives call events from Twilio or CallRail, extracts the caller details, and checks whether this is a genuine missed call or an answered call that should be ignored.",
        "width": 740,
        "height": 394,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-192, -432],
      "id": "1400aa00-0001-4000-a000-000000000002",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Handle non-missed calls\n\nSilently ends the run for answered calls and events with no caller number. Nothing is sent.",
        "width": 278,
        "height": 378,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [624, 0],
      "id": "1400aa00-0001-4000-a000-000000000003",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Compose and screen message\n\nChecks after-hours status to tailor the message tone, writes the text-back, and routes it through the Bar-Compliance Guardrail to verify opt-out status and attach the required TCPA disclaimer.",
        "width": 656,
        "height": 378,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [608, -432],
      "id": "1400aa00-0001-4000-a000-000000000004",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Send text-back\n\nRoutes approved messages to Twilio and stops suppressed messages at a labelled skip node. Opted-out callers are never texted.",
        "width": 480,
        "height": 498,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1312, -432],
      "id": "1400aa00-0001-4000-a000-000000000005",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Notify firm\n\nAlways emails your firm after a missed call — whether the text was delivered, failed, or was suppressed — so no inquiry slips through.",
        "width": 516,
        "height": 346,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1840, -432],
      "id": "1400aa00-0001-4000-a000-000000000006",
      "name": "Sticky Note5"
    },
    {
      "id": "1400aa00-0001-4000-a000-000000000007",
      "name": "When Call Received",
      "type": "n8n-nodes-base.webhook",
      "notes": "Receives the incoming call event from your phone system.\n\nThis URL is the address your phone system will notify whenever a call comes in. Copy the Production URL from this node (visible after you activate the workflow) and paste it into Twilio or CallRail.\n\nTwilio setup: Twilio Console → Phone Numbers → your number → Voice & Fax → set StatusCallback URL to this address, StatusCallbackMethod POST. Enable status events: no-answer, busy, failed, canceled.\n\nCallRail setup: CallRail → Settings → Notifications → Webhooks → paste this URL → select 'Missed call' events.\n\nBoth providers are supported — the next step (Normalize and Validate Call) automatically detects which one sent the event and pulls the right fields from each.",
      "position": [0, 0],
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "parameters": {
        "httpMethod": "POST",
        "path": "missed-call",
        "options": {}
      },
      "typeVersion": 2.1
    },
    {
      "id": "1400aa00-0001-4000-a000-000000000008",
      "name": "Normalize and Validate Call",
      "type": "n8n-nodes-base.code",
      "notes": "Reads the call event and extracts the details the rest of the workflow needs: caller's phone number, caller's name, your firm's number, and whether this is actually a missed call.\n\nThis step works with both Twilio and CallRail — it detects which provider sent the event and pulls the right fields from each.\n\nKey detail: Twilio sends a notification on every status change, including when calls are answered successfully. This step adds a flag (is_valid_missed) so the next step can skip answered calls and only act on genuine missed calls: no-answer, busy, failed, or canceled.\n\nOutput available to all later steps: caller_number, caller_name, firm_number, call_status, source, is_valid_missed, timestamp.",
      "position": [224, 0],
      "parameters": {
        "jsCode": "// Handles both Twilio StatusCallback and CallRail notification formats.\n// Sets is_valid_missed = true only for actual missed-call events —\n// guards against completed calls that Twilio also fires StatusCallback on.\n\nconst item = $input.first().json;\nconst raw  = item.body || item; // some n8n webhook configs wrap inside .body\n\nconst TWILIO_MISSED = new Set(['no-answer', 'busy', 'failed', 'canceled']);\n\nlet normalized;\nif (raw.CallStatus !== undefined) {\n  // Twilio StatusCallback shape\n  const callerNum = raw.Caller || raw.From || '';\n  normalized = {\n    caller_number:   callerNum,\n    caller_name:     raw.CallerName || 'Unknown Caller',\n    firm_number:     raw.Called || raw.To || '',\n    call_status:     raw.CallStatus,\n    source:          'twilio',\n    is_valid_missed: TWILIO_MISSED.has(raw.CallStatus) && callerNum !== '',\n  };\n} else {\n  // CallRail notification shape\n  const callerNum = raw.caller_number || raw.caller_phone_number || '';\n  normalized = {\n    caller_number:   callerNum,\n    caller_name:     raw.caller_name || raw.customer_name || 'Unknown Caller',\n    firm_number:     raw.business_phone_number || raw.tracking_number || '',\n    call_status:     'missed',\n    source:          'callrail',\n    is_valid_missed: callerNum !== '',\n  };\n}\n\nreturn [{ json: { ...normalized, timestamp: new Date().toISOString() } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "1400aa00-0001-4000-a000-000000000009",
      "name": "If Valid Missed Call",
      "type": "n8n-nodes-base.if",
      "notes": "Decides whether to continue or stop — only genuine missed calls get a text-back.\n\nTwilio fires a notification on every call, including calls that were answered. Without this check, a client who reached you successfully would also receive an automated 'we missed your call' text — which would be confusing and unprofessional.\n\nYes (real missed call) → proceed to check the time and send the text.\nNo (call was answered, or no caller number) → stop here, nothing sent.",
      "onError": "continueErrorOutput",
      "position": [448, 0],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_missed",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_valid_missed }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "1400aa00-0001-4000-a000-00000000000a",
      "name": "Ignore Non-Missed Call",
      "type": "n8n-nodes-base.noOp",
      "notes": "Safely ends the workflow for calls that were answered or have no caller number. No text is sent, no email is sent. This endpoint is visible in the execution history so you can confirm the filter is working correctly.",
      "position": [672, 112],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "1400aa00-0001-4000-a000-00000000000b",
      "name": "Check After Hours",
      "type": "n8n-nodes-base.code",
      "notes": "Checks what time the missed call came in so the text message can say the right thing.\n\nA caller who missed you at 2 PM on a Tuesday gets: 'We missed your call and want to help.'\nA caller who missed you at 9 PM or on a Saturday gets: 'We're currently closed but we want to help.'\n\nThe text is always sent regardless of time — this step only changes the wording.\n\nReads from n8n Variables (project → Variables tab):\n  FIRM_TIMEZONE — your state's timezone (e.g. 'America/Chicago', 'America/Los_Angeles')\n  FIRM_BUSINESS_HOURS_START / FIRM_BUSINESS_HOURS_END — office hours in 24-hour format (9 = 9 AM, 17 = 5 PM)\n  FIRM_WORK_DAYS — comma-separated weekday numbers: 1,2,3,4,5 = Monday–Friday (0=Sunday, 6=Saturday)",
      "position": [672, -32],
      "parameters": {
        "jsCode": "// Reads firm timezone and business hours from n8n Variables (project → Variables tab).\n// Set: FIRM_TIMEZONE, FIRM_BUSINESS_HOURS_START, FIRM_BUSINESS_HOURS_END, FIRM_WORK_DAYS\nconst TIMEZONE             = $vars.FIRM_TIMEZONE;                                                   // e.g. 'America/Chicago', 'America/Los_Angeles'\nconst BUSINESS_HOURS_START = parseInt($vars.FIRM_BUSINESS_HOURS_START, 10);                         // 9 AM (inclusive)\nconst BUSINESS_HOURS_END   = parseInt($vars.FIRM_BUSINESS_HOURS_END, 10);                           // 5 PM (exclusive)\nconst WORK_DAYS            = ($vars.FIRM_WORK_DAYS || '1,2,3,4,5').split(',').map(Number);          // 0=Sun, 1=Mon … 6=Sat\n\nconst now       = new Date();\nconst localTime = new Date(now.toLocaleString('en-US', { timeZone: TIMEZONE }));\nconst hour      = localTime.getHours();\nconst day       = localTime.getDay();\n\nconst isAfterHours = !WORK_DAYS.includes(day)\n  || hour < BUSINESS_HOURS_START\n  || hour >= BUSINESS_HOURS_END;\n\nconst item = $input.first().json;\nreturn [{ json: { ...item, is_after_hours: isAfterHours } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "1400aa00-0001-4000-a000-00000000000c",
      "name": "Compose Text-Back",
      "type": "n8n-nodes-base.code",
      "notes": "Writes the text message the caller will receive and attaches your firm's contact details for the email alert.\n\nThe message is personalised with the caller's first name when it is available. It always ends with 'Reply STOP to opt out' — this is required by TCPA law for any automated text messages.\n\nBusiness hours example: 'Hi Jane, this is Smith Law Firm. We missed your call and want to help. Book a free consult: [link] — Reply STOP to opt out.'\nAfter hours example: 'Hi Jane, this is Smith Law Firm. We're currently closed but we want to help. Book a free consult: [link] — Reply STOP to opt out.'\n\nReads from n8n Variables (project → Variables tab):\n  FIRM_NAME — your law firm's name as it should appear in texts\n  FIRM_BOOKING_URL — your scheduling link (Calendly, Acuity, your website's contact page, etc.)\n  FIRM_EMAIL — the email address where missed-call alerts should be sent\n  FIRM_TWILIO_NUMBER — the phone number you registered in Twilio (must start with +1 for US numbers)",
      "position": [896, -32],
      "parameters": {
        "jsCode": "// Reads firm details from n8n Variables (project → Variables tab).\n// Set: FIRM_NAME, FIRM_BOOKING_URL, FIRM_EMAIL, FIRM_TWILIO_NUMBER\nconst FIRM_NAME           = $vars.FIRM_NAME;\nconst BOOKING_URL         = $vars.FIRM_BOOKING_URL;\nconst FIRM_EMAIL          = $vars.FIRM_EMAIL;\nconst FIRM_TWILIO_NUMBER  = $vars.FIRM_TWILIO_NUMBER; // Your Twilio sending number\n\nconst item      = $input.first().json;\nconst rawFirst  = (item.caller_name || '').split(' ')[0];\nconst firstName = rawFirst && rawFirst !== 'Unknown' ? rawFirst : '';\nconst greeting  = firstName ? `Hi ${firstName}` : 'Hi';\n\nconst smsText = item.is_after_hours\n  ? `${greeting}, this is ${FIRM_NAME}. We're currently closed but we want to help. Book a free consult: ${BOOKING_URL} — Reply STOP to opt out.`\n  : `${greeting}, this is ${FIRM_NAME}. We missed your call and want to help. Book a free consult: ${BOOKING_URL} — Reply STOP to opt out.`;\n\nreturn [{ json: {\n  ...item,\n  sms_text:           smsText,\n  firm_email:         FIRM_EMAIL,\n  firm_twilio_number: FIRM_TWILIO_NUMBER,\n  firm_name:          FIRM_NAME,\n  booking_url:        BOOKING_URL,\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "1400aa00-0001-4000-a000-00000000000d",
      "name": "Compliance Check — Missed Call Text",
      "type": "n8n-nodes-base.executeWorkflow",
      "notes": "Calls the Bar-Compliance Guardrail before sending the text-back.\n\nChecks whether the caller has opted out. If not, confirms the TCPA opt-out instruction is present in the message and logs the send attempt to your audit sheet.\n\nThe guardrail workflow ID is read from the GUARDRAIL_WORKFLOW_ID n8n Variable (project → Variables tab). Set it to the numeric ID from the Bar-Compliance Guardrail workflow URL: .../workflow/WORKFLOW_ID.\n\nReturns: { approved, message_out, recipient, suppression_reason } plus all upstream fields.",
      "position": [1120, -32],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $vars.GUARDRAIL_WORKFLOW_ID }}",
          "mode": "expression"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channel": "sms",
            "recipient": "={{ $json.caller_number }}",
            "message": "={{ $json.sms_text }}",
            "template_id": "NTC-14",
            "matter_id": ""
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "typeVersion": 1.3
    },
    {
      "id": "1400aa00-0001-4000-a000-00000000000e",
      "name": "If Approved to Text Back",
      "type": "n8n-nodes-base.if",
      "notes": "Routes based on the compliance guardrail's decision.\n\nYes (approved: true) → sends the text-back to the caller.\nNo (approved: false) → caller is on the opt-out list; message suppressed. The guardrail has already logged the suppression to your compliance sheet.",
      "onError": "continueErrorOutput",
      "position": [1344, -32],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_approved_14",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.approved }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "1400aa00-0001-4000-a000-00000000000f",
      "name": "Skip — contact opted out",
      "type": "n8n-nodes-base.noOp",
      "notes": "Caller is on the opt-out list — no text-back sent. The Bar-Compliance Guardrail has logged the suppression to your audit sheet. No further action needed.",
      "position": [1568, 120],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "1400aa00-0001-4000-a000-000000000010",
      "name": "Send Text Message",
      "type": "n8n-nodes-base.twilio",
      "notes": "Sends the text-back to the caller.\n\nRecipient and message come from the compliance guardrail — opt-out has already been checked and the TCPA disclaimer verified before this node runs.\n\nCredential: project → Credentials tab → New → search Twilio → enter Account SID and Auth Token → save as 'Twilio account'.\n\nIf Twilio returns an error, the workflow continues to the firm notification email.",
      "onError": "continueRegularOutput",
      "position": [1568, -32],
      "credentials": {
        "twilioApi": {
          "id": "1",
          "name": "Twilio account"
        }
      },
      "parameters": {
        "operation": "send",
        "from": "={{ $('Compose Text-Back').item.json.firm_twilio_number }}",
        "to": "={{ $json.recipient }}",
        "message": "={{ $json.message_out }}"
      },
      "typeVersion": 1
    },
    {
      "id": "1400aa00-0001-4000-a000-000000000011",
      "name": "If Text Delivered",
      "type": "n8n-nodes-base.if",
      "notes": "Checks whether Twilio accepted the text before emailing the firm.\n\nWhen Twilio successfully queues a text, it returns a confirmation ID (called a 'sid'). If the text failed — for example, the caller's number was invalid or your Twilio credentials are wrong — there is no confirmation ID.\n\nYes (text was accepted) → email the firm: 'Text-back sent ✓'\nNo (text failed) → email the firm: 'Text failed — please call this person back manually'\n\nEither way, the firm always gets an email so no missed call falls through the cracks.",
      "position": [1792, -32],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_sms_sent",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.sid }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "1400aa00-0001-4000-a000-000000000012",
      "name": "Notify Firm by Email",
      "type": "n8n-nodes-base.emailSend",
      "notes": "Emails your firm a summary of every missed call — so nothing slips through even if the text fails.\n\nThe email tells you: who called, their number, what time they called, what text was sent (or that it failed), and a link to your booking page.\n\nCredential to wire: In n8n go to project → Credentials tab → New, search for SMTP, and enter your email settings. This works with Gmail, Outlook 365, Zoho Mail, or any email provider that supports SMTP.\n\n  Gmail: use App Passwords (Settings → Security → App Passwords) — not your regular password\n  Outlook 365: use your email address and password; enable SMTP AUTH in the Microsoft 365 admin\n  Zoho / other providers: check your provider's SMTP settings page for host, port, and credentials\n\nBoth the 'from' address and the 'to' address are set to FIRM_EMAIL (the address in Compose Text-Back) so the firm emails itself. You can change the 'to' address in this node if alerts should go to a different inbox.\n\nThe subject line adds '— Text failed' when the text did not go through, so you can spot failures at a glance in your inbox.",
      "position": [2016, -32],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "Email account (SMTP)"
        }
      },
      "parameters": {
        "fromEmail": "={{ $('Compose Text-Back').item.json.firm_email }}",
        "toEmail": "={{ $('Compose Text-Back').item.json.firm_email }}",
        "subject": "=Missed Call: {{ $('Compose Text-Back').item.json.caller_name }} ({{ $('Compose Text-Back').item.json.caller_number }}){{ $json.sid ? '' : ' — Text failed' }}",
        "emailType": "text",
        "text": "=You missed a call from {{ $('Compose Text-Back').item.json.caller_name }} ({{ $('Compose Text-Back').item.json.caller_number }}) at {{ $('Compose Text-Back').item.json.timestamp }}.\n\nText-back: {{ $json.sid ? 'Sent ✓' : 'FAILED — please call this person back manually.' }}\n\nMessage sent:\n\"{{ $('Compose Text-Back').item.json.sms_text }}\"\n\nSource: {{ $('Compose Text-Back').item.json.source }}\nBooking link: {{ $('Compose Text-Back').item.json.booking_url }}"
      },
      "typeVersion": 2
    }
  ],
  "active": false,
  "pinData": {
    "When Call Received": [
      {
        "json": {
          "headers": {
            "content-type": "application/x-www-form-urlencoded",
            "user-agent": "TwilioProxy/1.1"
          },
          "params": {},
          "query": {},
          "body": {
            "CallSid": "CA1234567890abcdef1234567890abcdef",
            "CallStatus": "no-answer",
            "From": "+14155551234",
            "To": "+18005550000",
            "Caller": "+14155551234",
            "Called": "+18005550000",
            "CallerName": "Jane Smith",
            "Direction": "inbound",
            "Duration": "0",
            "AccountSid": "AC00000000000000000000000000000000"
          },
          "webhookUrl": "https://your-n8n.example.com/webhook/missed-call",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "availableInMCP": false,
    "executionOrder": "v1",
    "executionTimeout": 60,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "nodeGroups": [],
  "staticData": null,
  "connections": {
    "When Call Received": {
      "main": [
        [
          {
            "node": "Normalize and Validate Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize and Validate Call": {
      "main": [
        [
          {
            "node": "If Valid Missed Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid Missed Call": {
      "main": [
        [
          {
            "node": "Check After Hours",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore Non-Missed Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check After Hours": {
      "main": [
        [
          {
            "node": "Compose Text-Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Text-Back": {
      "main": [
        [
          {
            "node": "Compliance Check — Missed Call Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliance Check — Missed Call Text": {
      "main": [
        [
          {
            "node": "If Approved to Text Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved to Text Back": {
      "main": [
        [
          {
            "node": "Send Text Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip — contact opted out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text Message": {
      "main": [
        [
          {
            "node": "If Text Delivered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Text Delivered": {
      "main": [
        [
          {
            "node": "Notify Firm by Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Firm by Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "description": "Instantly texts back any caller who hangs up without reaching someone, then emails the firm the caller's details. Replaces Ruby Receptionist / Gabbyville ($300–500/mo). Trigger: Twilio StatusCallback or CallRail webhook."
}
