workflows/ntc-16-court-deadline-calculator.json
{
  "name": "Court Deadline Calculator",
  "description": "Receives a trigger date and rule set via webhook, calculates court deadlines using business-day math (skipping weekends and US federal holidays), creates an all-day calendar event per deadline in Google Calendar or Outlook, and writes each deadline back as a high-priority task in Clio. Replaces DocketCalendar and LawToolBox ($49–$149/user/mo) and guards against the missed-deadline risk that drives 24.6% of malpractice claims. The firm owns and confirms every rule — this workflow never suggests or interprets legal deadlines.",
  "nodes": [
    {
      "parameters": {
        "content": "## Court Deadline Calculator\n\n**Trigger:** POST webhook from your practice management system, a cron job, or a manual form\n\n**Webhook URL:** `POST https://<your-n8n>/webhook/court-deadlines`\n\n**What it does:**\n1. Receives a trigger date, matter ID, and deadline rule set via webhook\n2. Validates the request — skips incomplete or malformed payloads\n3. Calculates each court deadline using business-day math, skipping weekends and US federal holidays\n4. Creates an all-day calendar event for each deadline in Google Calendar or Microsoft Outlook (choose one path)\n5. Creates a high-priority task in Clio for each deadline, linked to the matter\n6. Appends one audit row per deadline to the OPS1 Compliance Log Google Sheet\n\n**Replaces:** DocketCalendar · LawToolBox ($49–$149/user/month per user)\n\n**Your firm owns the rule set — important:**\nThis workflow does not know, suggest, or interpret any legal deadlines. Open **Calculate Deadlines** and replace the three example placeholders with the rules your attorney has entered for your practice area and jurisdiction.\n\n**Step 1 — Set n8n Variables (project → Variables tab):**\n| Variable | Example value |\n|---|---|\n| `FIRM_NAME` | Smith Law Firm |\n| `FIRM_EMAIL` | intake@your-firm.com |\n| `FIRM_TIMEZONE` | America/New_York |\n| `OPS1_SHEET_ID` | (Google Sheet ID from URL) |\n| `FIRM_OUTLOOK_TIMEZONE` | Eastern Standard Time *(Outlook only — Windows timezone name)* |\n\n**Step 2 — Edit DEFAULT_RULES in Calculate Deadlines:** delete the example placeholders and add your firm's actual deadline rules.\n\n**Step 3 — Wire credentials:** Google Calendar or Outlook account · Clio API token · Google Sheets account (project → Credentials tab)\n\n**Calendar choice:** Send `\"calendar_platform\": \"google\"` or `\"calendar_platform\": \"outlook\"` in your payload. Wire credentials only for the calendar your firm uses.\n\n**Clio matter ID:** Pass `clio_matter_id` (Clio's internal numeric ID) to link tasks to the correct matter. Find it in the Clio URL when viewing the matter: `/matters/98765`.\n\n**Testing:** Click **Deadline Webhook** → Test step to run the pinned payload through the full chain.",
        "height": 740,
        "width": 800,
        "color": 5
      },
      "id": "doc",
      "name": "📖 Workflow doc",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -840,
        -620
      ]
    },
    {
      "parameters": {
        "content": "## Deadline Audit Log\n\nEvery deadline calculated by this workflow is logged to the **Audit Log** tab of your OPS1 Compliance Log Google Sheet — the same sheet used by the Bar-Compliance Guardrail.\n\n**One row per deadline calculated:**\n- `logged_at` — timestamp\n- `template_id` — NTC-16\n- `matter_id` — your matter reference\n- `recipient` — attorney email\n- `channel` — calendar-google or calendar-outlook\n- `message_preview` — rule name → deadline date\n- `status` — calculated\n\n**To activate:** set the `OPS1_SHEET_ID` n8n Variable (project → Variables tab) and wire a **Google Sheets** credential (OAuth2) in the project → Credentials tab.",
        "height": 260,
        "width": 430,
        "color": 3
      },
      "id": "ops1_note",
      "name": "Compliance Layer placeholder",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -840,
        180
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "court-deadlines",
        "options": {}
      },
      "id": "trigger",
      "name": "Deadline Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "a2b3c4d5-e6f7-8901-abcd-ef1234567890",
      "notes": "Receives the deadline calculation request — from your practice management system, a scheduled cron trigger, or a manual submission form.\n\nCopy the Production URL (visible after you activate the workflow) and paste it into whatever system will trigger deadline calculations for your matters.\n\nExpected payload fields:\n  matter_id — your internal matter reference (e.g. 'M-2026-042')\n  clio_matter_id — Clio's internal numeric matter ID (find it in the Clio URL: /matters/98765)\n  matter_title — the case caption or matter name shown in calendar events\n  trigger_date — the date calculations count from, in YYYY-MM-DD (e.g. the complaint filing date, service date, or scheduling order date)\n  attorney_email — the attorney's email address (informational; used in calendar event metadata)\n  calendar_platform — 'google' or 'outlook' (default: google)\n  rules — optional array of deadline rules; if absent, DEFAULT_RULES from Calculate Deadlines are used\n\nThe Read Deadline Request step validates the payload and sets is_valid_request = true only when matter_id and a valid trigger_date are present."
    },
    {
      "parameters": {
        "jsCode": "// Normalises the incoming payload and validates the minimum required fields.\n// Sets is_valid_request = true only when matter_id and a valid trigger_date are present.\n\nconst raw  = $input.first().json;\nconst body = raw.body || raw;\n\nconst matterId         = String(body.matter_id || '').trim();\nconst clioMatterId     = body.clio_matter_id  != null ? body.clio_matter_id : null;\nconst triggerDate      = String(body.trigger_date || '').trim();\nconst matterTitle      = String(body.matter_title || body.case_title || 'Matter').trim();\nconst attorneyEmail    = String(body.attorney_email || '').trim();\nconst calendarPlatform = String(body.calendar_platform || 'google').toLowerCase().trim();\nconst rules            = Array.isArray(body.rules) ? body.rules : [];\n\nconst dateOk =\n  /^\\d{4}-\\d{2}-\\d{2}$/.test(triggerDate) &&\n  !isNaN(new Date(triggerDate + 'T12:00:00Z').getTime());\n\nconst isValidRequest = !!matterId && dateOk;\n\nreturn [{ json: {\n  matter_id:         matterId,\n  clio_matter_id:    clioMatterId,\n  trigger_date:      triggerDate,\n  matter_title:      matterTitle,\n  attorney_email:    attorneyEmail,\n  calendar_platform: calendarPlatform,\n  rules,\n  is_valid_request:  isValidRequest,\n  validation_error:  !matterId  ? 'Missing matter_id'\n                   : !dateOk   ? 'Invalid or missing trigger_date — use YYYY-MM-DD'\n                   : null,\n  received_at: new Date().toISOString(),\n}}];"
      },
      "id": "normalize",
      "name": "Read Deadline Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "notes": "Reads and validates the incoming webhook payload. Extracts the fields the rest of the workflow needs and sets a flag indicating whether the request is actionable.\n\nRequired fields: matter_id (any non-empty string) and trigger_date (YYYY-MM-DD format). Everything else is optional.\n\nIf the rules array is absent or empty, the Calculate Deadlines node falls back to its DEFAULT_RULES. This lets you trigger the workflow for every new matter of the same type without passing rules each time — just configure DEFAULT_RULES once in Calculate Deadlines and the same set applies to every trigger.\n\nOutput: all normalised fields, plus is_valid_request (true/false), validation_error (message or null), and received_at timestamp."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_valid",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_valid_request }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "is_valid",
      "name": "Valid request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ],
      "onError": "continueErrorOutput",
      "notes": "Decides whether to proceed or stop before any calculation runs.\n\nYes (matter_id present and trigger_date is a valid date) → proceed to Calculate Deadlines.\nNo (missing or malformed fields) → route to Skip — invalid request. Check the validation_error field in the Read Deadline Request output to see what was missing."
    },
    {
      "parameters": {},
      "id": "skip_invalid",
      "name": "Skip — invalid request",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        672,
        200
      ],
      "notes": "Safely ends the workflow for incomplete or malformed requests. No deadlines are calculated, no calendar events are created, and no Clio tasks are written.\n\nThis endpoint is visible in the execution history — check the validation_error field in the Read Deadline Request output to see what was missing from the payload."
    },
    {
      "parameters": {
        "jsCode": "// Reads firm details from n8n Variables (project → Variables tab).\n// Set: FIRM_NAME, FIRM_EMAIL, FIRM_TIMEZONE, OPS1_SHEET_ID\nconst FIRM_NAME  = $vars.FIRM_NAME;\nconst FIRM_EMAIL = $vars.FIRM_EMAIL;\nconst TIMEZONE   = $vars.FIRM_TIMEZONE;   // e.g. 'America/Chicago', 'America/Los_Angeles'\nconst SHEET_ID   = $vars.OPS1_SHEET_ID;   // same OPS1 Compliance Log sheet used by the Bar-Compliance Guardrail\n\n// ⚙️ Replace these example placeholders with the actual rules your attorney has entered.\n// This workflow never suggests or interprets legal deadlines — the firm owns every rule.\n//\n// offset_days: positive = after trigger date, negative = before trigger date\n// offset_type: 'business' = skip weekends + US federal holidays\n//              'calendar' = count every day including weekends and holidays\nconst DEFAULT_RULES = [\n  {\n    name:        'Example Deadline A — replace this',\n    offset_days: 30,\n    offset_type: 'business',\n    description: 'Placeholder — replace with your firm rule (e.g. 30 business days from trigger date per local rules)',\n  },\n  {\n    name:        'Example Deadline B — replace this',\n    offset_days: 60,\n    offset_type: 'business',\n    description: 'Placeholder — replace with your firm rule (e.g. 60 business days from trigger date per local rules)',\n  },\n  {\n    name:        'Example Deadline C — replace this',\n    offset_days: 14,\n    offset_type: 'calendar',\n    description: 'Placeholder — replace with your firm rule (e.g. 14 calendar days from trigger date per local rules)',\n  },\n];\n\n// ── US Federal Holiday calculator ─────────────────────────────────────────────\nfunction nthWeekday(year, month0, weekday, n) {\n  if (n > 0) {\n    const d = new Date(Date.UTC(year, month0, 1));\n    let count = 0;\n    while (true) {\n      if (d.getUTCDay() === weekday) { count++; if (count === n) return new Date(d); }\n      d.setUTCDate(d.getUTCDate() + 1);\n    }\n  } else {\n    const d = new Date(Date.UTC(year, month0 + 1, 0));\n    while (true) {\n      if (d.getUTCDay() === weekday) return new Date(d);\n      d.setUTCDate(d.getUTCDate() - 1);\n    }\n  }\n}\n\nfunction getUSFederalHolidays(year) {\n  const set = new Set();\n  function addObserved(date) {\n    const d = new Date(date);\n    const day = d.getUTCDay();\n    if (day === 6) d.setUTCDate(d.getUTCDate() - 1); // Saturday → observe Friday\n    if (day === 0) d.setUTCDate(d.getUTCDate() + 1); // Sunday → observe Monday\n    set.add(d.toISOString().slice(0, 10));\n  }\n  addObserved(new Date(Date.UTC(year, 0, 1)));     // New Year's Day\n  addObserved(nthWeekday(year, 0, 1, 3));           // MLK Day (3rd Mon Jan)\n  addObserved(nthWeekday(year, 1, 1, 3));           // Presidents' Day (3rd Mon Feb)\n  addObserved(nthWeekday(year, 4, 1, -1));          // Memorial Day (last Mon May)\n  addObserved(new Date(Date.UTC(year, 5, 19)));     // Juneteenth\n  addObserved(new Date(Date.UTC(year, 6, 4)));      // Independence Day\n  addObserved(nthWeekday(year, 8, 1, 1));           // Labor Day (1st Mon Sep)\n  addObserved(nthWeekday(year, 9, 1, 2));           // Columbus Day (2nd Mon Oct)\n  addObserved(new Date(Date.UTC(year, 10, 11)));    // Veterans Day\n  addObserved(nthWeekday(year, 10, 4, 4));          // Thanksgiving (4th Thu Nov)\n  addObserved(new Date(Date.UTC(year, 11, 25)));    // Christmas\n  return set;\n}\n\nconst holidayCache = {};\n\nfunction isBusinessDay(dateStr) {\n  const d = new Date(dateStr + 'T12:00:00Z');\n  const dow = d.getUTCDay();\n  if (dow === 0 || dow === 6) return false;\n  const yr = d.getUTCFullYear();\n  if (!holidayCache[yr]) holidayCache[yr] = getUSFederalHolidays(yr);\n  return !holidayCache[yr].has(dateStr);\n}\n\nfunction addBusinessDays(startDateStr, n) {\n  const direction = n >= 0 ? 1 : -1;\n  const steps = Math.abs(n);\n  const d = new Date(startDateStr + 'T12:00:00Z');\n  let counted = 0;\n  while (counted < steps) {\n    d.setUTCDate(d.getUTCDate() + direction);\n    if (isBusinessDay(d.toISOString().slice(0, 10))) counted++;\n  }\n  return d.toISOString().slice(0, 10);\n}\n\nfunction addCalendarDays(startDateStr, n) {\n  const d = new Date(startDateStr + 'T12:00:00Z');\n  d.setUTCDate(d.getUTCDate() + n);\n  return d.toISOString().slice(0, 10);\n}\n\n// ── Main ──────────────────────────────────────────────────────────────────────\nconst item  = $input.first().json;\nconst rules = (item.rules && item.rules.length > 0) ? item.rules : DEFAULT_RULES;\n\nconst deadlines = rules.map(rule => {\n  const offsetDays = Number(rule.offset_days) || 0;\n  const offsetType = (rule.offset_type || 'business').toLowerCase();\n  const deadlineDate = offsetType === 'calendar'\n    ? addCalendarDays(item.trigger_date, offsetDays)\n    : addBusinessDays(item.trigger_date, offsetDays);\n\n  return {\n    matter_id:         item.matter_id,\n    clio_matter_id:    item.clio_matter_id,\n    matter_title:      item.matter_title,\n    attorney_email:    item.attorney_email,\n    calendar_platform: item.calendar_platform,\n    rule_name:         rule.name,\n    deadline_date:     deadlineDate,\n    trigger_date:      item.trigger_date,\n    offset_days:       offsetDays,\n    offset_type:       offsetType,\n    description:       rule.description || rule.name,\n    firm_name:         FIRM_NAME,\n    firm_email:        FIRM_EMAIL,\n    timezone:          TIMEZONE,\n    sheet_id:          SHEET_ID,\n  };\n});\n\nreturn deadlines.map(d => ({ json: d }));"
      },
      "id": "calculate",
      "name": "Calculate Deadlines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "notes": "Calculates the calendar date of each court deadline, skipping weekends and US federal holidays for business-day rules.\n\nThe firm owns the rule set — this workflow never suggests or interprets legal deadlines. Replace the three example placeholder rules with the actual deadline rules your attorney has entered for your practice area and jurisdiction.\n\nReads from n8n Variables (project → Variables tab):\n  FIRM_NAME — your law firm's name\n  FIRM_EMAIL — your intake email address\n  FIRM_TIMEZONE — your state's timezone (e.g. 'America/Chicago', 'America/Los_Angeles')\n  OPS1_SHEET_ID — the ID from your OPS1 Compliance Log sheet URL (same sheet used by the Bar-Compliance Guardrail): .../spreadsheets/d/SHEET_ID/edit\n\n⚙️ Edit DEFAULT_RULES directly in this code node — add your firm's rules; each rule needs:\n  name — shown in calendar events and Clio tasks\n  offset_days — days from trigger_date (positive = after, negative = before)\n  offset_type — 'business' to skip weekends + holidays, 'calendar' to count every day\n  description — longer note shown in calendar event body and Clio task description\n\nThis node outputs one item per deadline rule. Each downstream node (calendar event, Clio task) runs once per deadline — five rules produce five calendar events and five Clio tasks in a single workflow run.\n\nUS federal holidays handled: New Year's Day, MLK Day, Presidents' Day, Memorial Day, Juneteenth, Independence Day, Labor Day, Columbus Day, Veterans Day, Thanksgiving, Christmas. Saturday holidays observe Friday; Sunday holidays observe Monday."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_platform",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.calendar_platform }}",
              "rightValue": "google"
            }
          ]
        },
        "options": {}
      },
      "id": "platform_if",
      "name": "Calendar platform?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        0
      ],
      "onError": "continueErrorOutput",
      "notes": "Routes each deadline to the correct calendar service based on the calendar_platform value in the request.\n\nGoogle Calendar (true branch) → Create Google Calendar Event\nMicrosoft Outlook (false branch) → Create Outlook Calendar Event\n\nYou only need to wire credentials for the calendar your firm uses. Leave the unused branch's credential blank — that branch never executes.\n\nTo default to Outlook, change the condition value from 'google' to 'outlook' and swap the branch labels."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"summary\": {{ JSON.stringify($json.rule_name + ' — ' + $json.matter_title) }},\n  \"description\": {{ JSON.stringify($json.description + '\\nMatter: ' + $json.matter_id + '\\nTrigger date: ' + $json.trigger_date) }},\n  \"start\": { \"date\": {{ JSON.stringify($json.deadline_date) }} },\n  \"end\": { \"date\": {{ JSON.stringify($json.deadline_date) }} }\n}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "google_cal",
      "name": "Create Google Calendar Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        -160
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1",
          "name": "Google Calendar account"
        }
      },
      "notes": "Creates an all-day calendar event in Google Calendar for each calculated deadline. This node runs once per deadline rule — five rules produce five calendar events.\n\nCredential to wire: In n8n go to project → Credentials tab → New, search for 'Google Calendar OAuth2 API', and connect your Google account. Save it as 'Google Calendar account'.\n\nCalendar: events are created on the attorney's primary Google Calendar. To write to a shared firm calendar instead, replace 'primary' in the URL with the calendar's ID — find it in Google Calendar → Settings → the calendar → Calendar ID (e.g. 'intake@smithlaw.com').\n\nEvent title format: 'Rule Name — Matter Title'\nEvent body: rule description + matter ID + trigger date\n\nIf this node fails (e.g. credential not connected), the workflow continues to Update Matter in Clio — deadlines are still written to Clio even if the calendar step does not complete."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/me/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subject\": {{ JSON.stringify($json.rule_name + ' — ' + $json.matter_title) }},\n  \"body\": {\n    \"contentType\": \"text\",\n    \"content\": {{ JSON.stringify($json.description + '\\nMatter: ' + $json.matter_id + '\\nTrigger date: ' + $json.trigger_date) }}\n  },\n  \"start\": { \"dateTime\": {{ JSON.stringify($json.deadline_date + 'T09:00:00') }}, \"timeZone\": {{ JSON.stringify($vars.FIRM_OUTLOOK_TIMEZONE) }} },\n  \"end\":   { \"dateTime\": {{ JSON.stringify($json.deadline_date + 'T09:30:00') }}, \"timeZone\": {{ JSON.stringify($vars.FIRM_OUTLOOK_TIMEZONE) }} }\n}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "outlook_cal",
      "name": "Create Outlook Calendar Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        160
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "2",
          "name": "Outlook account"
        }
      },
      "notes": "Creates a calendar event in Microsoft Outlook via the Microsoft Graph API for each calculated deadline. This node runs once per deadline rule.\n\nCredential to wire: In n8n go to project → Credentials tab → New, search for 'Microsoft Outlook OAuth2 API', and connect your Microsoft 365 account. Save it as 'Outlook account'.\n\nCalendar: events are created in the attorney's primary Outlook calendar at 9:00–9:30 AM on the deadline date. To write to a shared calendar, replace 'me' in the URL with the shared mailbox address: https://graph.microsoft.com/v1.0/users/shared@firm.com/events\n\nTimezone: reads from the FIRM_OUTLOOK_TIMEZONE n8n Variable (project → Variables tab). Microsoft Outlook requires Windows timezone format — valid values include 'Eastern Standard Time', 'Central Standard Time', 'Mountain Standard Time', 'Pacific Standard Time'.\n\nIf this node fails, the workflow continues to Update Matter in Clio so deadlines are still recorded there."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.clio.com/api/v4/tasks.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ data: { name: $('Calculate Deadlines').item.json.rule_name, due_at: $('Calculate Deadlines').item.json.deadline_date + 'T00:00:00.000Z', description: $('Calculate Deadlines').item.json.description, matter: { id: $('Calculate Deadlines').item.json.clio_matter_id }, assignee: { type: 'User' }, status: 'pending', priority: 'high' } }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "clio_task",
      "name": "Update Matter in Clio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1344,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Clio API token"
        }
      },
      "notes": "Creates a high-priority task in Clio for each calculated deadline, linked to the matter. This node runs once per deadline rule — five rules produce five Clio tasks in a single run.\n\nCredential to wire:\n1. In Clio go to Settings → API Keys → New API key and copy the token\n2. In n8n go to project → Credentials tab → New, search for 'Header Auth'\n3. Set Name field to 'Authorization' and Value field to 'Bearer YOUR_TOKEN' (include 'Bearer ' with a space)\n4. Save it as 'Clio API token'\n\nClio matter ID: the task is linked to the matter via clio_matter_id in your webhook payload. This must be Clio's internal numeric ID — find it in the URL when viewing the matter in Clio (/matters/98765). If you pass display numbers like 'M-2026-042' instead of the numeric ID, Clio will reject the request. The task is still created; link it to the matter manually inside Clio.\n\nTask properties: name = rule name, due date = calculated deadline date, priority = high, status = pending.\n\nFor the full Clio REST API reference see: developer.clio.com"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.OPS1_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Audit Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "logged_at": "={{ new Date().toISOString() }}",
            "template_id": "NTC-16",
            "matter_id": "={{ $('Calculate Deadlines').item.json.matter_id }}",
            "recipient": "={{ $('Calculate Deadlines').item.json.attorney_email }}",
            "channel": "={{ 'calendar-' + $('Calculate Deadlines').item.json.calendar_platform }}",
            "message_preview": "={{ ($('Calculate Deadlines').item.json.rule_name + ' → ' + $('Calculate Deadlines').item.json.deadline_date + ' (trigger: ' + $('Calculate Deadlines').item.json.trigger_date + ')').substring(0, 200) }}",
            "status": "calculated"
          },
          "matchingColumns": [],
          "schema": []
        }
      },
      "id": "audit_log",
      "name": "Log to Audit",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1568,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Google Sheets account"
        }
      },
      "notes": "Appends one audit row per deadline to the Audit Log tab of your OPS1 Compliance Log sheet. Creates a permanent record of every deadline calculated — matter ID, rule name, trigger date, calculated deadline date, and calendar platform used.\n\nCredential to wire: project → Credentials tab → New → search 'Google Sheets OAuth2' → connect with the Google account that owns the OPS1 Compliance Log sheet → save as 'Google Sheets account'.\n\nSheet ID: set SHEET_ID in the Calculate Deadlines node to the ID from your compliance sheet URL: .../spreadsheets/d/SHEET_ID/edit. This is the same sheet used by the Bar-Compliance Guardrail — use the same ID.\n\nIf this step fails (e.g., credentials not wired), the workflow continues — deadlines are still written to Clio and your calendar. A logging failure never blocks deadline creation."
    }
  ],
  "pinData": {
    "Deadline Webhook": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "n8n-test"
          },
          "params": {},
          "query": {},
          "body": {
            "matter_id": "M-2026-0042",
            "clio_matter_id": 98765,
            "matter_title": "Johnson v. Acme Corp",
            "trigger_date": "2026-07-01",
            "attorney_email": "attorney@smithlaw.com",
            "calendar_platform": "google",
            "rules": [
              {
                "name": "First Deadline",
                "offset_days": 30,
                "offset_type": "business",
                "description": "30 business days from trigger date — firm-entered rule"
              },
              {
                "name": "Second Deadline",
                "offset_days": 60,
                "offset_type": "business",
                "description": "60 business days from trigger date — firm-entered rule"
              },
              {
                "name": "Third Deadline",
                "offset_days": 14,
                "offset_type": "calendar",
                "description": "14 calendar days from trigger date — firm-entered rule"
              }
            ]
          },
          "webhookUrl": "https://your-n8n.example.com/webhook/court-deadlines",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Deadline Webhook": {
      "main": [
        [
          {
            "node": "Read Deadline Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Deadline Request": {
      "main": [
        [
          {
            "node": "Valid request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid request?": {
      "main": [
        [
          {
            "node": "Calculate Deadlines",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip — invalid request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Deadlines": {
      "main": [
        [
          {
            "node": "Calendar platform?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar platform?": {
      "main": [
        [
          {
            "node": "Create Google Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Outlook Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Calendar Event": {
      "main": [
        [
          {
            "node": "Update Matter in Clio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Outlook Calendar Event": {
      "main": [
        [
          {
            "node": "Update Matter in Clio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Matter in Clio": {
      "main": [
        [
          {
            "node": "Log to Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "staticData": null,
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "nodeGroups": [],
  "tags": []
}
