workflows/ntc-33-bar-compliance-guardrail.json
{
  "name": "Bar-Compliance Guardrail Layer",
  "tags": [],
  "nodes": [
    {
      "parameters": {
        "content": "## Bar-Compliance Guardrail\n\n### How it works\nReusable sub-workflow with two independent paths. **Path A** (sub-workflow): called by every client-facing template before any outbound message — checks the opt-out list, appends the TCPA disclaimer, logs the attempt to your audit sheet, and returns `{ approved, message_out }` to the caller. **Path B** (webhook): receives all inbound SMS from Twilio — STOP replies are deduplicated and appended to the Opt-Outs tab; UNSTOP replies remove the entry; all other SMS are silently skipped.\n\n### Setup steps\n1. **Create a Google Sheet** with two tabs: `Opt-Outs` (columns: phone, email, opted_out_at, source) and `Audit Log` (columns: logged_at, template_id, matter_id, recipient, channel, message_preview, status)\n2. **n8n Variables** (project → Variables tab): `OPS1_SHEET_ID` (from the sheet URL between `/d/` and `/edit`), `FIRM_NAME`\n3. **Credentials**: wire `Google Sheets account` (OAuth2) in project → Credentials tab\n4. **Activate this workflow** — the Path B STOP handler webhook only receives requests when the workflow is active\n5. **Twilio wiring** (Path B): Twilio Console → Phone Numbers → your number → Messaging → When a message comes in → paste the Receive STOP Reply Production URL → HTTP POST → Save\n6. **Caller integration** (Path A): add an Execute Sub-workflow node to any template before its send step — pass channel, recipient, message, template_id, matter_id. See deploy guide for the copy-paste config.\n\n### Customization\n- **STOP keywords**: edit the regex in Read Inbound SMS\n- **Audit fields**: add columns to your Google Sheet and map them in Log to Audit / Log Suppression\n- **Email opt-out**: add email opt-outs manually to the Opt-Outs tab (phone column stays blank)\n\n**Note:** One Twilio number can only have one inbound SMS webhook. If NTC-17 (Review Request Engine) runs on the same number, use a separate Twilio number for review replies, or route all inbound SMS through this workflow.\n\n**Replaces:** No off-the-shelf equivalent — ABA Op. 512 compliance made reusable.",
        "height": 700,
        "width": 480
      },
      "id": "3300aa00-0007-4000-a000-000000000000",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-700, -500]
    },
    {
      "parameters": {
        "content": "**Validate and screen message**\nPath A entry. Loads firm config, validates required fields from the calling template, reads the opt-out list, checks the recipient, and routes to suppress or approve.",
        "height": 250,
        "width": 1412,
        "color": 7
      },
      "id": "3300aa00-0007-4000-a000-00000000000a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-80, -120]
    },
    {
      "parameters": {
        "content": "**Suppress opted-out contacts**\nLogs the suppression to the Audit Log tab and returns `{ approved: false }` to the calling template — message is never sent.",
        "height": 250,
        "width": 292,
        "color": 7
      },
      "id": "3300aa00-0007-4000-a000-00000000000b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1556, 30]
    },
    {
      "parameters": {
        "content": "**Approve and log message**\nAppends the TCPA opt-out instruction, logs the approved send to the Audit Log tab, and returns `{ approved: true, message_out }` to the calling template.",
        "height": 250,
        "width": 740,
        "color": 7
      },
      "id": "3300aa00-0007-4000-a000-00000000000c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1332, -270]
    },
    {
      "parameters": {
        "content": "**Receive inbound SMS**\nPath B entry. Parses the Twilio inbound message and classifies it as a STOP, UNSTOP, or unrelated reply.",
        "height": 250,
        "width": 740,
        "color": 7
      },
      "id": "3300aa00-0007-4000-a000-00000000000d",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-80, 440]
    },
    {
      "parameters": {
        "content": "**Process STOP request**\nReads the Opt-Outs tab, deduplicates, and appends a new row for the sender. Prevents the same number being entered twice.",
        "height": 410,
        "width": 448,
        "color": 7
      },
      "id": "3300aa00-0007-4000-a000-00000000000e",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [660, 240]
    },
    {
      "parameters": {
        "content": "**Process UNSTOP request**\nReads the Opt-Outs tab, finds the matching row, and deletes it — re-enabling future messages to this number.",
        "height": 430,
        "width": 448,
        "color": 7
      },
      "id": "3300aa00-0007-4000-a000-00000000000f",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1108, 400]
    },
    {
      "parameters": {
        "content": "**Unrecognized message**\nInbound SMS is not a STOP or UNSTOP keyword — no action taken. Twilio receives HTTP 200.",
        "height": 250,
        "width": 360,
        "color": 7
      },
      "id": "3300aa00-0007-4000-a000-00000000000g",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [816, 700]
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000001",
      "name": "Receive Compliance Request",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "notes": "Entry point for parent templates — receives the compliance check request.\n\nDo not activate this workflow standalone. It runs only when called via an 'Execute Sub-workflow' node in a parent template.\n\nExpected input from the calling template:\n  channel — 'sms' or 'email'\n  recipient — phone (E.164 +1XXXXXXXXXX) for SMS; email address for email\n  message — the planned outbound message text\n  template_id — which template is calling, e.g. 'NTC-17' (for your audit log)\n  matter_id — optional matter reference for context\n\nfirm_name and sheet_id are set internally in Configure Guardrail — callers do not need to pass them.",
      "position": [0, 0],
      "parameters": {
        "inputSource": "passthrough"
      },
      "typeVersion": 1.1
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000002",
      "name": "Configure Guardrail",
      "type": "n8n-nodes-base.code",
      "notes": "Reads shared firm config from n8n Variables (project → Variables tab). Set once; all templates benefit automatically.\n\nVariables to set:\n  OPS1_SHEET_ID — the ID from your Google Sheet URL:\n    https://docs.google.com/spreadsheets/d/SHEET_ID/edit\n    Create the sheet first: New Google Sheet → rename to 'OPS1 Compliance Log' → add two tabs named exactly 'Opt-Outs' and 'Audit Log' → add the column headers listed in the sticky note.\n  FIRM_NAME — your law firm name as it appears in outbound email footers.\n\nAll calling templates share these variables — if you move the sheet or rename the firm, update the n8n Variable once and every template picks it up.",
      "position": [224, 0],
      "parameters": {
        "jsCode": "// Reads firm details from n8n Variables (project → Variables tab).\n// Set: OPS1_SHEET_ID, FIRM_NAME\nconst SHEET_ID  = $vars.OPS1_SHEET_ID;  // from your compliance sheet URL: .../spreadsheets/d/SHEET_ID/...\nconst FIRM_NAME = $vars.FIRM_NAME;       // your firm name — used in the email opt-out footer\n\n// Guard: fail loudly if the variable is not set.\nif (!SHEET_ID) {\n  throw new Error('Bar-Compliance Guardrail is not configured — OPS1_SHEET_ID n8n Variable is not set. Go to project → Variables tab and add it.');\n}\n\nconst item = $input.first().json;\n\nreturn [{ json: {\n  ...item,\n  sheet_id:  SHEET_ID,\n  firm_name: FIRM_NAME,\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000003",
      "name": "Validate & Prepare",
      "type": "n8n-nodes-base.code",
      "notes": "Validates that the calling template passed all required fields and normalises them for downstream nodes.\n\nRequired: channel (sms|email), recipient, message, template_id.\nOptional: matter_id.\n\nThrows a descriptive error if a field is missing — names the calling template so the problem is easy to locate. A silent failure here would send a non-compliant message with no audit trail.",
      "position": [448, 0],
      "parameters": {
        "jsCode": "// Validates required fields from the calling template and normalises them.\nconst input = $input.first().json;\n\nconst required = ['channel', 'recipient', 'message', 'template_id'];\nfor (const field of required) {\n  if (!input[field]) {\n    throw new Error(`Bar-Compliance Guardrail: missing required field '${field}'. Check the 'Call Compliance Guardrail' node in ${input.template_id || 'the calling template'}.`);\n  }\n}\n\nconst channel = String(input.channel).trim().toLowerCase();\nif (channel !== 'sms' && channel !== 'email') {\n  throw new Error(`Bar-Compliance Guardrail: 'channel' must be 'sms' or 'email', got '${channel}'.`);\n}\n\nreturn [{ json: {\n  channel,\n  recipient:   String(input.recipient).trim(),\n  message:     String(input.message).trim(),\n  template_id: String(input.template_id).trim(),\n  matter_id:   String(input.matter_id || '').trim(),\n  firm_name:   String(input.firm_name || '').trim(),\n  sheet_id:    String(input.sheet_id).trim(),\n  checked_at:  new Date().toISOString(),\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000004",
      "name": "Read Opt-Out List",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Reads all rows from the Opt-Outs tab. The next step filters for the specific recipient.\n\nCredential: project → Credentials tab → New → search 'Google Sheets OAuth2' → sign in with the Google account that owns the compliance sheet → save as 'Google Sheets account'.\n\nIf the Opt-Outs tab is empty (no one has opted out yet), this returns 0 rows. The next step handles that safely — 0 rows means approved.\n\nThe Opt-Outs tab must have these column headers in row 1: phone | email | opted_out_at | source\n\nAdd opt-outs manually, or they are added automatically when clients text STOP (Path B of this workflow).",
      "onError": "continueRegularOutput",
      "position": [672, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Opt-Outs",
          "mode": "name"
        },
        "options": {}
      },
      "typeVersion": 4
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000005",
      "name": "Check Opt-Out Status",
      "type": "n8n-nodes-base.code",
      "notes": "Checks whether the recipient is in the Opt-Outs list.\n\nMatches phone numbers (E.164 format) for SMS and email addresses for email — both compared case-insensitively.\n\nRuns even when the opt-out list is empty (0 rows) — no entries means the recipient is not opted out and the message is approved.\n\nOutput: is_opted_out (true/false) plus all fields from Validate & Prepare forwarded.",
      "position": [896, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Checks whether the recipient appears on the opt-out list.\n// Uses runOnceForAllItems so it runs safely even when the opt-out sheet is empty (0 rows).\nconst rows      = $input.all();\nconst config    = $('Validate & Prepare').first().json;\nconst recipient = config.recipient.trim().toLowerCase();\n\nlet is_opted_out = false;\nfor (const row of rows) {\n  const r     = row.json;\n  const phone = (r.phone || '').trim().toLowerCase();\n  const email = (r.email || '').trim().toLowerCase();\n  if (phone === recipient || email === recipient) {\n    is_opted_out = true;\n    break;\n  }\n}\n\nreturn [{ json: { ...config, is_opted_out } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000006",
      "name": "If Opted Out",
      "type": "n8n-nodes-base.if",
      "notes": "Routes the request based on opt-out status.\n\nYes (opted out) → log the suppression and return { approved: false } to the calling template. No message is sent.\nNo (not opted out) → proceed to disclaimer attachment and audit logging.",
      "onError": "continueErrorOutput",
      "position": [1120, 0],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_opted_out",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_opted_out }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2.3
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000007",
      "name": "Log Suppression",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Appends a row to the Audit Log tab recording that this message was suppressed due to opt-out.\n\nLogged fields: timestamp, template_id, matter_id, recipient, channel, first 200 chars of the planned message, status = 'suppressed'.\n\nIf the Google Sheets write fails, the workflow still returns { approved: false } to the caller — the suppression stands even if the log write fails. Review failed executions in n8n to catch any logging gaps.",
      "onError": "continueRegularOutput",
      "position": [1344, 150],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Audit Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "logged_at": "={{ $json.checked_at }}",
            "template_id": "={{ $json.template_id }}",
            "matter_id": "={{ $json.matter_id }}",
            "recipient": "={{ $json.recipient }}",
            "channel": "={{ $json.channel }}",
            "message_preview": "={{ $json.message.substring(0, 200) }}",
            "status": "suppressed"
          },
          "matchingColumns": [],
          "schema": []
        }
      },
      "typeVersion": 4
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000008",
      "name": "Result — Suppressed",
      "type": "n8n-nodes-base.code",
      "notes": "Returns the compliance result to the calling template.\n\nOutput: all original caller fields forwarded (recipient, matter_id, etc.) plus:\n  approved: false\n  message_out: '' (empty — do not send)\n  suppression_reason: 'opted_out'\n\nThe calling template must check $json.approved before its send step. If false, route to a Skip node — do not send the message.",
      "position": [1568, 150],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Pull config from the last node that held the full payload — Log Suppression (Google Sheets)\n// may not pass through all fields, so reference the upstream Code node directly.\nconst config = $('Check Opt-Out Status').first().json;\nreturn [{ json: {\n  ...config,\n  approved:           false,\n  message_out:        '',\n  suppression_reason: 'opted_out',\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000009",
      "name": "Attach Disclaimer",
      "type": "n8n-nodes-base.code",
      "notes": "Appends the TCPA-required opt-out instruction to every approved outbound message.\n\nSMS: appends 'Reply STOP to opt out.' on a new line — skipped if the message already contains a STOP instruction.\nEmail: appends a plain-text unsubscribe footer with the firm name — skipped if already present.\n\nThe calling template must use message_out (not its original message) for the Twilio or emailSend node — this is the version that carries the disclaimer.",
      "position": [1344, -150],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst { channel, message, firm_name } = input;\n\nlet message_out;\nif (channel === 'sms') {\n  // Append STOP instruction only if not already present.\n  const hasStop = /reply stop to opt.?out/i.test(message);\n  message_out = hasStop\n    ? message\n    : `${message}\\n\\nReply STOP to opt out.`;\n} else {\n  // Email: append an unsubscribe footer only if not already present.\n  const footer = `\\n\\n---\\n${firm_name} | This message is for the intended recipient only. Reply UNSUBSCRIBE to stop receiving messages.`;\n  const hasFooter = /reply unsubscribe/i.test(message);\n  message_out = hasFooter ? message : `${message}${footer}`;\n}\n\nreturn [{ json: { ...input, message_out } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000010",
      "name": "Log to Audit",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Appends a row to the Audit Log tab for every approved outbound message.\n\nLogged fields: timestamp, template_id, matter_id, recipient, channel, first 200 chars of the message with disclaimer, status = 'approved'.\n\nIf the Google Sheets write fails (e.g., network error), the workflow still returns { approved: true } — a logging failure does not block your client message. Review failed executions to catch any gaps.",
      "onError": "continueRegularOutput",
      "position": [1568, -150],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Audit Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "logged_at": "={{ $json.checked_at }}",
            "template_id": "={{ $json.template_id }}",
            "matter_id": "={{ $json.matter_id }}",
            "recipient": "={{ $json.recipient }}",
            "channel": "={{ $json.channel }}",
            "message_preview": "={{ $json.message_out.substring(0, 200) }}",
            "status": "approved"
          },
          "matchingColumns": [],
          "schema": []
        }
      },
      "typeVersion": 4
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000011",
      "name": "Result — Approved",
      "type": "n8n-nodes-base.code",
      "notes": "Returns the compliance result to the calling template.\n\nOutput: all original caller fields forwarded (recipient, matter_id, etc.) plus:\n  approved: true\n  message_out: '<original message with STOP/unsubscribe disclaimer appended>'\n  suppression_reason: null\n\nThe calling template must:\n1. Check $json.approved — route to Skip if false\n2. Use $json.message_out for the Twilio / emailSend node — this version carries the required disclaimer",
      "position": [1792, -150],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Pull from Attach Disclaimer (the last Code node before Log to Audit) — ensures all caller\n// fields (recipient, matter_id, etc.) are forwarded back to the parent template alongside\n// the disclaimer-appended message_out. Log to Audit (Google Sheets) may not pass them through.\nconst input = $('Attach Disclaimer').first().json;\nreturn [{ json: {\n  ...input,\n  approved:           true,\n  suppression_reason: null,\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000012",
      "name": "Receive STOP Reply",
      "type": "n8n-nodes-base.webhook",
      "notes": "Receives every inbound SMS from your Twilio number.\n\nActivate this workflow so STOP replies land here automatically. Sub-workflow calls from parent templates (NTC-14, NTC-17, etc.) continue to work whether or not this workflow is active.\n\nTwilio setup:\n  Twilio Console → Phone Numbers → Manage → Active Numbers → click your number → Messaging Configuration → 'When a message comes in' → Webhook → paste the Production URL from this node → HTTP POST → Save.\n\nImportant: only one URL can receive inbound SMS per Twilio number. If you already have a reply webhook (e.g., NTC-17 review reply on the same number), pointing Twilio here will stop NTC-17 from receiving those replies. Use a separate Twilio number for review requests, or consolidate inbound routing into a single entry-point workflow.\n\nTwilio POSTs: From (client E.164 number), To (firm number), Body (message text), MessageSid, NumMedia.\n\nn8n auto-returns HTTP 200 to Twilio — no TwiML response node needed.",
      "position": [0, 560],
      "webhookId": "b3c4d5e6-f7a8-9012-bcde-f23456789013",
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio-stop",
        "options": {}
      },
      "typeVersion": 2.1
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000013",
      "name": "Read Inbound SMS",
      "type": "n8n-nodes-base.code",
      "notes": "Parses the Twilio inbound SMS and classifies it.\n\nKeyword matching follows TCPA and Twilio's standard opt-out word lists:\n  STOP keywords: STOP, UNSUBSCRIBE, CANCEL, END, QUIT\n  UNSTOP keywords: UNSTOP, START\n\nMatching is case-insensitive and anchored to the first word of the message body so 'Stop please' and 'STOP' both match. Extra whitespace is trimmed.\n\nAlso loads OPS1_SHEET_ID from n8n Variables — the same sheet used by the sub-workflow path. Set it once in project → Variables tab.\n\nOutput: from_phone (E.164), sms_body, is_stop (bool), is_unstop (bool), sheet_id, received_at.",
      "position": [224, 560],
      "parameters": {
        "jsCode": "// Parses the inbound Twilio SMS and classifies it as STOP, UNSTOP, or neither.\n// Also reads OPS1_SHEET_ID here so downstream nodes have sheet_id available.\n\nconst SHEET_ID = $vars.OPS1_SHEET_ID;\nif (!SHEET_ID) {\n  throw new Error('Bar-Compliance Guardrail: OPS1_SHEET_ID n8n Variable is not set. Go to project → Variables tab and add it.');\n}\n\nconst raw  = $input.first().json;\nconst body = raw.body || raw;\n\n// Twilio POSTs form-encoded; n8n converts to JSON automatically.\nconst from    = (body.From || '').trim();\nconst smsBody = (body.Body || '').trim();\n\n// TCPA/Twilio standard STOP and UNSTOP keyword sets — match first word only.\nconst isStop   = /^(STOP|UNSUBSCRIBE|CANCEL|END|QUIT)\\b/i.test(smsBody);\nconst isUnstop = /^(UNSTOP|START)\\b/i.test(smsBody);\n\nreturn [{ json: {\n  from_phone:  from,\n  sms_body:    smsBody,\n  is_stop:     isStop,\n  is_unstop:   isUnstop,\n  sheet_id:    SHEET_ID,\n  received_at: new Date().toISOString(),\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000014",
      "name": "If STOP Keyword",
      "type": "n8n-nodes-base.if",
      "notes": "Routes STOP keywords to the opt-out append path.\n\nYes (STOP/UNSUBSCRIBE/CANCEL/END/QUIT) → read the Opt-Outs tab to check for a duplicate before appending.\nNo → check for UNSTOP keyword on the next gate.",
      "onError": "continueErrorOutput",
      "position": [448, 560],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_is_stop",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_stop }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2.3
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000015",
      "name": "Read Opt-Outs for STOP",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Reads the current Opt-Outs tab before appending — used to detect duplicate STOP entries.\n\nIf this phone number is already on the list, the workflow routes to a Skip node rather than appending a duplicate. This prevents the sheet from accumulating repeated entries for the same number if a client sends STOP more than once.\n\nIf the Opt-Outs tab is empty (no one has opted out yet), this returns 0 rows — the duplicate-check node handles that safely.\n\nCredential: same Google Sheets account used throughout this workflow.",
      "onError": "continueRegularOutput",
      "position": [672, 440],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Opt-Outs",
          "mode": "name"
        },
        "options": {}
      },
      "typeVersion": 4
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000016",
      "name": "Already opted out?",
      "type": "n8n-nodes-base.code",
      "notes": "Checks whether this phone number is already in the Opt-Outs tab.\n\nPhone numbers are compared case-insensitively after trimming. Twilio sends E.164 format (+14155551234) — if attorneys have entered numbers manually in a different format, the comparison may not match. Keep phone entries in E.164 format to ensure correct matching.\n\nIf the opt-out tab is empty (no rows yet), this safely returns already_opted_out: false.\n\nOutput: from_phone, sheet_id, received_at, already_opted_out (bool).",
      "position": [896, 440],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Checks whether the inbound phone number is already in the Opt-Outs tab.\n// Runs after Read Opt-Outs for STOP — handles 0 rows safely.\nconst rows  = $input.all();\nconst parse = $('Read Inbound SMS').first().json;\nconst phone = (parse.from_phone || '').trim().toLowerCase();\n\nlet already_opted_out = false;\nfor (const row of rows) {\n  const r        = row.json;\n  const rowPhone = (r.phone || '').trim().toLowerCase();\n  if (rowPhone === phone) {\n    already_opted_out = true;\n    break;\n  }\n}\n\nreturn [{ json: {\n  from_phone:        phone,\n  sheet_id:          parse.sheet_id,\n  received_at:       parse.received_at,\n  already_opted_out,\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000017",
      "name": "If Duplicate STOP",
      "type": "n8n-nodes-base.if",
      "notes": "Prevents duplicate opt-out entries.\n\nYes (already on the list) → Skip — already opted out. No second entry written.\nNo (not on the list) → Append Opt-Out Entry.",
      "onError": "continueErrorOutput",
      "position": [1120, 440],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_duplicate",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.already_opted_out }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2.3
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000018",
      "name": "Skip — already opted out",
      "type": "n8n-nodes-base.noOp",
      "notes": "Phone number is already in the Opt-Outs tab — no duplicate entry written. Twilio still receives HTTP 200. Visible in execution history for auditing.",
      "position": [1344, 360],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000019",
      "name": "Append Opt-Out Entry",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Appends a new row to the Opt-Outs tab when a STOP keyword is received.\n\nColumns written:\n  phone — client's E.164 phone number from Twilio's From field\n  email — left blank (STOP arrives by SMS; email opt-out must be managed separately)\n  opted_out_at — ISO 8601 timestamp of when the STOP was received\n  source — 'twilio-stop' so you can distinguish automated entries from manually added ones\n\nThe sub-workflow path reads this tab on every outbound message — once this row is written, all future messages to this number are automatically suppressed.\n\nIf the write fails (e.g., Google API error), the workflow still returns HTTP 200 to Twilio. Review failed executions in n8n to catch any logging gaps.",
      "onError": "continueRegularOutput",
      "position": [1344, 520],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Opt-Outs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $json.from_phone }}",
            "email": "",
            "opted_out_at": "={{ $json.received_at }}",
            "source": "twilio-stop"
          },
          "matchingColumns": [],
          "schema": []
        }
      },
      "typeVersion": 4
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000020",
      "name": "If UNSTOP Keyword",
      "type": "n8n-nodes-base.if",
      "notes": "Routes UNSTOP/START keywords to the opt-out removal path.\n\nYes (UNSTOP or START) → read the Opt-Outs tab to find and remove this phone number.\nNo (unrelated inbound SMS — e.g., a question or general reply) → Skip — not a STOP or UNSTOP reply.",
      "onError": "continueErrorOutput",
      "position": [672, 680],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_is_unstop",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_unstop }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2.3
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000021",
      "name": "Read Opt-Outs for UNSTOP",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Reads all rows from the Opt-Outs tab to find the matching phone number for removal.\n\nThe next node (Find Row to Remove) scans the returned rows for the UNSTOP sender's phone number and extracts its row_number — the sheet row index that the delete node needs.\n\nIf the tab is empty (no opted-out numbers), this returns 0 rows. The next node handles that safely and routes to Skip — not on opt-out list.\n\nCredential: same Google Sheets account used throughout this workflow.",
      "onError": "continueRegularOutput",
      "position": [896, 600],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Read Inbound SMS').first().json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Opt-Outs",
          "mode": "name"
        },
        "options": {}
      },
      "typeVersion": 4
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000022",
      "name": "Find Row to Remove",
      "type": "n8n-nodes-base.code",
      "notes": "Scans the Opt-Outs tab rows and extracts the row_number of the matching phone entry.\n\nrow_number is provided by the Google Sheets read node on every output row. It equals the actual spreadsheet row number (1 = header, 2 = first data row). The delete node's 'startIndex' parameter accepts this value directly.\n\nPhone numbers are matched case-insensitively. Non-E.164 entries added manually (e.g., '415-555-1234' vs '+14155551234') will not match an E.164 UNSTOP sender — in that case the row is not found and the Skip branch runs. The attorney can remove the entry manually if needed.\n\nOutput: from_phone, sheet_id, found_row_number (integer or null), row_found (bool).",
      "position": [1120, 600],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Finds the sheet row_number for the UNSTOP sender so the delete node can target it.\n// row_number from the Google Sheets read operation is 1-based and includes the header row\n// (header = row 1, first data row = row 2). This value maps directly to the delete node's\n// 'startIndex' parameter — no offset adjustment needed.\nconst rows  = $input.all();\nconst parse = $('Read Inbound SMS').first().json;\nconst phone = (parse.from_phone || '').trim().toLowerCase();\n\nlet found_row_number = null;\nfor (const row of rows) {\n  const r        = row.json;\n  const rowPhone = (r.phone || '').trim().toLowerCase();\n  if (rowPhone === phone) {\n    found_row_number = r.row_number;\n    break;\n  }\n}\n\nreturn [{ json: {\n  from_phone:       phone,\n  sheet_id:         parse.sheet_id,\n  found_row_number,\n  row_found:        found_row_number !== null,\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000023",
      "name": "If Row Found",
      "type": "n8n-nodes-base.if",
      "notes": "Routes based on whether the phone number is currently in the Opt-Outs tab.\n\nYes (found) → Delete Opt-Out Row.\nNo (not found) → Skip — not on opt-out list. Twilio still receives HTTP 200. The local list simply had no entry for this number — Twilio's carrier-level re-subscription is already handled by Twilio itself.",
      "onError": "continueErrorOutput",
      "position": [1344, 600],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_row_found",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.row_found }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2.3
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000024",
      "name": "Delete Opt-Out Row",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Removes the client's phone number from the Opt-Outs tab when they send UNSTOP or START.\n\nUses found_row_number from Find Row to Remove — this is the actual spreadsheet row number (1-based, header = 1) returned by the Google Sheets read node. The delete node's 'startIndex' parameter accepts this value directly.\n\nAfter this row is deleted, future outbound messages to this number are no longer blocked by the sub-workflow opt-out check.\n\nNote: Twilio also processes UNSTOP at the carrier level independently. This node clears only the local Google Sheet opt-out list.",
      "onError": "continueRegularOutput",
      "position": [1568, 520],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      },
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Opt-Outs",
          "mode": "name"
        },
        "toDelete": "rows",
        "startIndex": "={{ $json.found_row_number }}",
        "numberToDelete": 1
      },
      "typeVersion": 4
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000025",
      "name": "Skip — not on opt-out list",
      "type": "n8n-nodes-base.noOp",
      "notes": "Phone number sent UNSTOP but was not found in the Opt-Outs tab — no sheet change needed. Twilio still receives HTTP 200. Twilio's carrier-level re-subscription is already processed by Twilio independently of this sheet.",
      "position": [1568, 700],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000026",
      "name": "Skip — not a STOP or UNSTOP reply",
      "type": "n8n-nodes-base.noOp",
      "notes": "Inbound message is not a STOP or UNSTOP keyword — no action taken. This branch handles all other inbound SMS on your Twilio number (questions, general replies, etc.). Twilio receives HTTP 200.",
      "position": [896, 820],
      "parameters": {},
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {
    "Receive Compliance Request": [
      {
        "json": {
          "channel": "sms",
          "recipient": "+14155551234",
          "message": "Hi Jane, it was our honor to serve you at Smith Law Firm. How was your experience? Reply 1–5 (1 = poor, 5 = excellent).",
          "template_id": "NTC-17",
          "matter_id": "M-2026-042"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Receive STOP Reply": [
      {
        "json": {
          "headers": {
            "content-type": "application/x-www-form-urlencoded",
            "user-agent": "TwilioProxy/1.1",
            "x-twilio-signature": "aBcDeFgHiJkLmNoPqRsT=="
          },
          "params": {},
          "query": {},
          "body": {
            "ToCountry": "US",
            "ToState": "NY",
            "SmsMessageSid": "SM9876543210fedcba9876543210fedcba",
            "NumMedia": "0",
            "ToCity": "NEW YORK",
            "FromZip": "94105",
            "SmsSid": "SM9876543210fedcba9876543210fedcba",
            "FromState": "CA",
            "SmsStatus": "received",
            "FromCity": "SAN FRANCISCO",
            "Body": "STOP",
            "FromCountry": "US",
            "To": "+15550001234",
            "ToZip": "10001",
            "NumSegments": "1",
            "MessageSid": "SM9876543210fedcba9876543210fedcba",
            "AccountSid": "AC00000000000000000000000000000000",
            "From": "+14155551234",
            "ApiVersion": "2010-04-01"
          },
          "webhookUrl": "https://your-n8n.example.com/webhook/twilio-stop",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "nodeGroups": [],
  "staticData": null,
  "connections": {
    "Receive Compliance Request": {
      "main": [
        [{"node": "Configure Guardrail", "type": "main", "index": 0}]
      ]
    },
    "Configure Guardrail": {
      "main": [
        [{"node": "Validate & Prepare", "type": "main", "index": 0}]
      ]
    },
    "Validate & Prepare": {
      "main": [
        [{"node": "Read Opt-Out List", "type": "main", "index": 0}]
      ]
    },
    "Read Opt-Out List": {
      "main": [
        [{"node": "Check Opt-Out Status", "type": "main", "index": 0}]
      ]
    },
    "Check Opt-Out Status": {
      "main": [
        [{"node": "If Opted Out", "type": "main", "index": 0}]
      ]
    },
    "If Opted Out": {
      "main": [
        [{"node": "Log Suppression", "type": "main", "index": 0}],
        [{"node": "Attach Disclaimer", "type": "main", "index": 0}]
      ]
    },
    "Log Suppression": {
      "main": [
        [{"node": "Result — Suppressed", "type": "main", "index": 0}]
      ]
    },
    "Attach Disclaimer": {
      "main": [
        [{"node": "Log to Audit", "type": "main", "index": 0}]
      ]
    },
    "Log to Audit": {
      "main": [
        [{"node": "Result — Approved", "type": "main", "index": 0}]
      ]
    },
    "Receive STOP Reply": {
      "main": [
        [{"node": "Read Inbound SMS", "type": "main", "index": 0}]
      ]
    },
    "Read Inbound SMS": {
      "main": [
        [{"node": "If STOP Keyword", "type": "main", "index": 0}]
      ]
    },
    "If STOP Keyword": {
      "main": [
        [{"node": "Read Opt-Outs for STOP", "type": "main", "index": 0}],
        [{"node": "If UNSTOP Keyword", "type": "main", "index": 0}]
      ]
    },
    "Read Opt-Outs for STOP": {
      "main": [
        [{"node": "Already opted out?", "type": "main", "index": 0}]
      ]
    },
    "Already opted out?": {
      "main": [
        [{"node": "If Duplicate STOP", "type": "main", "index": 0}]
      ]
    },
    "If Duplicate STOP": {
      "main": [
        [{"node": "Skip — already opted out", "type": "main", "index": 0}],
        [{"node": "Append Opt-Out Entry", "type": "main", "index": 0}]
      ]
    },
    "If UNSTOP Keyword": {
      "main": [
        [{"node": "Read Opt-Outs for UNSTOP", "type": "main", "index": 0}],
        [{"node": "Skip — not a STOP or UNSTOP reply", "type": "main", "index": 0}]
      ]
    },
    "Read Opt-Outs for UNSTOP": {
      "main": [
        [{"node": "Find Row to Remove", "type": "main", "index": 0}]
      ]
    },
    "Find Row to Remove": {
      "main": [
        [{"node": "If Row Found", "type": "main", "index": 0}]
      ]
    },
    "If Row Found": {
      "main": [
        [{"node": "Delete Opt-Out Row", "type": "main", "index": 0}],
        [{"node": "Skip — not on opt-out list", "type": "main", "index": 0}]
      ]
    }
  },
  "description": "Reusable sub-workflow that wraps any client-facing automation with ABA Op. 512-aligned compliance: opt-out list check, TCPA disclaimer insertion, and audit logging. Call it from every template that sends a client message. Returns { approved, message_out, suppression_reason } — the calling workflow sends only if approved is true and uses message_out (which contains the disclaimer). One Google Sheet, two tabs: Opt-Outs and Audit Log. Also includes a Twilio STOP handler webhook (Path B) that automatically writes STOP replies to the Opt-Outs tab and removes UNSTOP replies — activate the workflow to enable it."
}
