workflows/ntc-33-bar-compliance-guardrail.json
{
  "name": "Bar-Compliance Guardrail Layer",
  "tags": [],
  "nodes": [
    {
      "parameters": {
        "content": "## Bar-Compliance Guardrail Layer\n\n### How it works\n\n1. The workflow triggers on receiving compliance requests or STOP SMS replies.\n2. It initializes settings, validates data, and checks recipients against an opt-out list.\n3. For opted-out recipients, it logs events and handles suppressed compliance accordingly.\n4. Incoming SMS messages are parsed to detect STOP or UNSTOP keywords for opt-out management.\n5. STOP requests are checked against existing records to avoid duplication or are newly logged.\n6. UNSTOP requests locate and remove the related opt-out record from the list, if found.\n\n### Setup steps\n\n- [ ] Configure Google Sheets credentials with access to opt-out and audit log sheets.\n- [ ] Define required firm details in the n8n Variables tab for guardrail settings initialization.\n- [ ] Set up webhook credentials and endpoints for receiving STOP SMS messages.\n- [ ] Ensure the sheet structure matches node expectations for reading and writing opt-out and audit logs.\n\n### Customization\n\nAdjust the keyword detection code to support additional opt-out or opt-in keywords as needed.\nModify Google Sheets references and column mappings to fit specific firm data structures.",
        "width": 480,
        "height": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-608, -288],
      "id": "165db577-148a-481a-b4b1-eeef58707414",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Compliance request trigger\n\nStarts processing when a compliance request is received, initializing settings and preparing data for validation and opt-out checks.",
        "width": 1312,
        "height": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-48, -112],
      "id": "9b6e9edb-5dd7-4156-a831-8f40086a07d3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Handling opted-out recipients\n\nBranches for recipients who opted out by adding disclaimers, logging opt-out events, and managing suppressed compliance handling.",
        "width": 640,
        "height": 592,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1296, -288],
      "id": "cfb9d71a-b9a7-4924-bc77-d14a2edcb7c2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## STOP reply webhook trigger\n\nTriggers on inbound STOP SMS messages for further keyword parsing and classification.",
        "width": 640,
        "height": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-48, 432],
      "id": "ffc0aa3f-02ce-4d52-8aab-6efe6a9e82a8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## STOP keyword processing\n\nProcesses STOP keywords by fetching opt-outs, checking for duplicates, then skipping or logging new STOP opt-outs appropriately.",
        "width": 864,
        "height": 464,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [624, 336],
      "id": "989d773a-c0b1-4a3d-b470-a90dc5e8ddd9",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## UNSTOP keyword processing\n\nHandles UNSTOP keywords by fetching opt-outs, identifying deletion rows, and conditionally deleting or skipping removal of opt-out entries.",
        "width": 1088,
        "height": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [624, 832],
      "id": "afea8489-4ac8-46d8-91c5-34e37ae6d8a7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Handling non STOP/UNSTOP keywords\n\nA pass-through node to handle inbound messages without relevant keywords, avoiding unnecessary processing.",
        "width": 240,
        "height": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [352, 832],
      "id": "28d6d12f-0294-43d3-8eff-7975dedeb051",
      "name": "Sticky Note6"
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000001",
      "name": "When Compliance Request Received",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "notes": "Entry point for parent templates — receives the compliance check request.\n\nDo not activate this workflow standalone. It runs only when called via an 'Execute Sub-workflow' node in a parent template.\n\nExpected input from the calling template:\n  channel — 'sms' or 'email'\n  recipient — phone (E.164 +1XXXXXXXXXX) for SMS; email address for email\n  message — the planned outbound message text\n  template_id — which template is calling, e.g. 'NTC-17' (for your audit log)\n  matter_id — optional matter reference for context\n\nfirm_name and sheet_id are set internally in Configure Guardrail — callers do not need to pass them.",
      "position": [0, 0],
      "parameters": {
        "inputSource": "passthrough"
      },
      "typeVersion": 1.1
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000002",
      "name": "Initialize Compliance Guardrail",
      "type": "n8n-nodes-base.code",
      "notes": "Reads shared firm config from n8n Variables (project → Variables tab). Set once; all templates benefit automatically.\n\nVariables to set:\n  OPS1_SHEET_ID — the ID from your Google Sheet URL:\n    https://docs.google.com/spreadsheets/d/SHEET_ID/edit\n    Create the sheet first: New Google Sheet → rename to 'OPS1 Compliance Log' → add two tabs named exactly 'Opt-Outs' and 'Audit Log' → add the column headers listed in the sticky note.\n  FIRM_NAME — your law firm name as it appears in outbound email footers.\n\nAll calling templates share these variables — if you move the sheet or rename the firm, update the n8n Variable once and every template picks it up.",
      "position": [224, 0],
      "parameters": {
        "jsCode": "// Reads firm details from n8n Variables (project → Variables tab).\n// Set: OPS1_SHEET_ID, FIRM_NAME\nconst SHEET_ID  = $vars.OPS1_SHEET_ID;  // from your compliance sheet URL: .../spreadsheets/d/SHEET_ID/...\nconst FIRM_NAME = $vars.FIRM_NAME;       // your firm name — used in the email opt-out footer\n\n// Guard: fail loudly if the variable is not set.\nif (!SHEET_ID) {\n  throw new Error('Bar-Compliance Guardrail is not configured — OPS1_SHEET_ID n8n Variable is not set. Go to project → Variables tab and add it.');\n}\n\nconst item = $input.first().json;\n\nreturn [{ json: {\n  ...item,\n  sheet_id:  SHEET_ID,\n  firm_name: FIRM_NAME,\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000003",
      "name": "Validate And Normalize Compliance Data",
      "type": "n8n-nodes-base.code",
      "notes": "Validates that the calling template passed all required fields and normalises them for downstream nodes.\n\nRequired: channel (sms|email), recipient, message, template_id.\nOptional: matter_id.\n\nThrows a descriptive error if a field is missing — names the calling template so the problem is easy to locate. A silent failure here would send a non-compliant message with no audit trail.",
      "position": [448, 0],
      "parameters": {
        "jsCode": "// Validates required fields from the calling template and normalises them.\nconst input = $input.first().json;\n\nconst required = ['channel', 'recipient', 'message', 'template_id'];\nfor (const field of required) {\n  if (!input[field]) {\n    throw new Error(`Bar-Compliance Guardrail: missing required field '${field}'. Check the 'Call Compliance Guardrail' node in ${input.template_id || 'the calling template'}.`);\n  }\n}\n\nconst channel = String(input.channel).trim().toLowerCase();\nif (channel !== 'sms' && channel !== 'email') {\n  throw new Error(`Bar-Compliance Guardrail: 'channel' must be 'sms' or 'email', got '${channel}'.`);\n}\n\nreturn [{ json: {\n  channel,\n  recipient:   String(input.recipient).trim(),\n  message:     String(input.message).trim(),\n  template_id: String(input.template_id).trim(),\n  matter_id:   String(input.matter_id || '').trim(),\n  firm_name:   String(input.firm_name || '').trim(),\n  sheet_id:    String(input.sheet_id).trim(),\n  checked_at:  new Date().toISOString(),\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000004",
      "name": "Read Opt-Out List From Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Reads all rows from the Opt-Outs tab. The next step filters for the specific recipient.\n\nCredential: project → Credentials tab → New → search 'Google Sheets OAuth2' → sign in with the Google account that owns the compliance sheet → save as 'Google Sheets account'.\n\nIf the Opt-Outs tab is empty (no one has opted out yet), this returns 0 rows. The next step handles that safely — 0 rows means approved.\n\nThe Opt-Outs tab must have these column headers in row 1: phone | email | opted_out_at | source\n\nAdd opt-outs manually, or they are added automatically when clients text STOP (Path B of this workflow).",
      "onError": "continueRegularOutput",
      "position": [672, 0],
      "parameters": {
        "options": {},
        "operation": "read",
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Opt-Outs"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.sheet_id }}"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000005",
      "name": "Check Recipient Opt-Out Status",
      "type": "n8n-nodes-base.code",
      "notes": "Checks whether the recipient is in the Opt-Outs list.\n\nMatches phone numbers (E.164 format) for SMS and email addresses for email — both compared case-insensitively.\n\nRuns even when the opt-out list is empty (0 rows) — no entries means the recipient is not opted out and the message is approved.\n\nOutput: is_opted_out (true/false) plus all fields from Validate & Prepare forwarded.",
      "position": [896, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Checks whether the recipient appears on the opt-out list.\n// Uses runOnceForAllItems so it runs safely even when the opt-out sheet is empty (0 rows).\nconst rows      = $input.all();\nconst config    = $('Validate And Normalize Compliance Data').first().json;\nconst recipient = config.recipient.trim().toLowerCase();\n\nlet is_opted_out = false;\nfor (const row of rows) {\n  const r     = row.json;\n  const phone = (r.phone || '').trim().toLowerCase();\n  const email = (r.email || '').trim().toLowerCase();\n  if (phone === recipient || email === recipient) {\n    is_opted_out = true;\n    break;\n  }\n}\n\nreturn [{ json: { ...config, is_opted_out } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000006",
      "name": "If Recipient Is Opted Out",
      "type": "n8n-nodes-base.if",
      "notes": "Routes the request based on opt-out status.\n\nYes (opted out) → log the suppression and return { approved: false } to the calling template. No message is sent.\nNo (not opted out) → proceed to disclaimer attachment and audit logging.",
      "onError": "continueErrorOutput",
      "position": [1120, 0],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_opted_out",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_opted_out }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000007",
      "name": "Append Opt-Out Event To Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Appends a row to the Audit Log tab recording that this message was suppressed due to opt-out.\n\nLogged fields: timestamp, template_id, matter_id, recipient, channel, first 200 chars of the planned message, status = 'suppressed'.\n\nIf the Google Sheets write fails, the workflow still returns { approved: false } to the caller — the suppression stands even if the log write fails. Review failed executions in n8n to catch any logging gaps.",
      "onError": "continueRegularOutput",
      "position": [1344, 150],
      "parameters": {
        "columns": {
          "value": {
            "status": "suppressed",
            "channel": "={{ $json.channel }}",
            "logged_at": "={{ $json.checked_at }}",
            "matter_id": "={{ $json.matter_id }}",
            "recipient": "={{ $json.recipient }}",
            "template_id": "={{ $json.template_id }}",
            "message_preview": "={{ $json.message.substring(0, 200) }}"
          },
          "schema": [],
          "mappingMode": "defineBelow",
          "matchingColumns": []
        },
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Audit Log"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.sheet_id }}"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000008",
      "name": "Process Suppressed Compliance Event",
      "type": "n8n-nodes-base.code",
      "notes": "Returns the compliance result to the calling template.\n\nOutput: all original caller fields forwarded (recipient, matter_id, etc.) plus:\n  approved: false\n  message_out: '' (empty — do not send)\n  suppression_reason: 'opted_out'\n\nThe calling template must check $json.approved before its send step. If false, route to a Skip node — do not send the message.",
      "position": [1568, 150],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Pull config from the last node that held the full payload — Log Suppression (Google Sheets)\n// may not pass through all fields, so reference the upstream Code node directly.\nconst config = $('Check Recipient Opt-Out Status').first().json;\nreturn [{ json: {\n  ...config,\n  approved:           false,\n  message_out:        '',\n  suppression_reason: 'opted_out',\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000009",
      "name": "Append Opt-Out Disclaimer",
      "type": "n8n-nodes-base.code",
      "notes": "Appends the TCPA-required opt-out instruction to every approved outbound message.\n\nSMS: appends 'Reply STOP to opt out.' on a new line — skipped if the message already contains a STOP instruction.\nEmail: appends a plain-text unsubscribe footer with the firm name — skipped if already present.\n\nThe calling template must use message_out (not its original message) for the Twilio or emailSend node — this is the version that carries the disclaimer.",
      "position": [1344, -150],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst { channel, message, firm_name } = input;\n\nlet message_out;\nif (channel === 'sms') {\n  // Append STOP instruction only if not already present.\n  const hasStop = /reply stop to opt.?out/i.test(message);\n  message_out = hasStop\n    ? message\n    : `${message}\\n\\nReply STOP to opt out.`;\n} else {\n  // Email: append an unsubscribe footer only if not already present.\n  const footer = `\\n\\n---\\n${firm_name} | This message is for the intended recipient only. Reply UNSUBSCRIBE to stop receiving messages.`;\n  const hasFooter = /reply unsubscribe/i.test(message);\n  message_out = hasFooter ? message : `${message}${footer}`;\n}\n\nreturn [{ json: { ...input, message_out } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000010",
      "name": "Append Compliance To Audit Log",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Appends a row to the Audit Log tab for every approved outbound message.\n\nLogged fields: timestamp, template_id, matter_id, recipient, channel, first 200 chars of the message with disclaimer, status = 'approved'.\n\nIf the Google Sheets write fails (e.g., network error), the workflow still returns { approved: true } — a logging failure does not block your client message. Review failed executions to catch any gaps.",
      "onError": "continueRegularOutput",
      "position": [1568, -150],
      "parameters": {
        "columns": {
          "value": {
            "status": "approved",
            "channel": "={{ $json.channel }}",
            "logged_at": "={{ $json.checked_at }}",
            "matter_id": "={{ $json.matter_id }}",
            "recipient": "={{ $json.recipient }}",
            "template_id": "={{ $json.template_id }}",
            "message_preview": "={{ $json.message_out.substring(0, 200) }}"
          },
          "schema": [],
          "mappingMode": "defineBelow",
          "matchingColumns": []
        },
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Audit Log"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.sheet_id }}"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000011",
      "name": "Process Approved Compliance Event",
      "type": "n8n-nodes-base.code",
      "notes": "Returns the compliance result to the calling template.\n\nOutput: all original caller fields forwarded (recipient, matter_id, etc.) plus:\n  approved: true\n  message_out: '<original message with STOP/unsubscribe disclaimer appended>'\n  suppression_reason: null\n\nThe calling template must:\n1. Check $json.approved — route to Skip if false\n2. Use $json.message_out for the Twilio / emailSend node — this version carries the required disclaimer",
      "position": [1792, -150],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Pull from Attach Disclaimer (the last Code node before Log to Audit) — ensures all caller\n// fields (recipient, matter_id, etc.) are forwarded back to the parent template alongside\n// the disclaimer-appended message_out. Log to Audit (Google Sheets) may not pass them through.\nconst input = $('Append Opt-Out Disclaimer').first().json;\nreturn [{ json: {\n  ...input,\n  approved:           true,\n  suppression_reason: null,\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000012",
      "name": "When STOP SMS Received",
      "type": "n8n-nodes-base.webhook",
      "notes": "Receives every inbound SMS from your Twilio number.\n\nActivate this workflow so STOP replies land here automatically. Sub-workflow calls from parent templates (NTC-14, NTC-17, etc.) continue to work whether or not this workflow is active.\n\nTwilio setup:\n  Twilio Console → Phone Numbers → Manage → Active Numbers → click your number → Messaging Configuration → 'When a message comes in' → Webhook → paste the Production URL from this node → HTTP POST → Save.\n\nImportant: only one URL can receive inbound SMS per Twilio number. If you already have a reply webhook (e.g., NTC-17 review reply on the same number), pointing Twilio here will stop NTC-17 from receiving those replies. Use a separate Twilio number for review requests, or consolidate inbound routing into a single entry-point workflow.\n\nTwilio POSTs: From (client E.164 number), To (firm number), Body (message text), MessageSid, NumMedia.\n\nn8n auto-returns HTTP 200 to Twilio — no TwiML response node needed.",
      "position": [0, 560],
      "webhookId": "b3c4d5e6-f7a8-9012-bcde-f23456789013",
      "parameters": {
        "path": "twilio-stop",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 2.1
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000013",
      "name": "Parse SMS For STOP Or UNSTOP Keywords",
      "type": "n8n-nodes-base.code",
      "notes": "Parses the Twilio inbound SMS and classifies it.\n\nKeyword matching follows TCPA and Twilio's standard opt-out word lists:\n  STOP keywords: STOP, UNSUBSCRIBE, CANCEL, END, QUIT\n  UNSTOP keywords: UNSTOP, START\n\nMatching is case-insensitive and anchored to the first word of the message body so 'Stop please' and 'STOP' both match. Extra whitespace is trimmed.\n\nAlso loads OPS1_SHEET_ID from n8n Variables — the same sheet used by the sub-workflow path. Set it once in project → Variables tab.\n\nOutput: from_phone (E.164), sms_body, is_stop (bool), is_unstop (bool), sheet_id, received_at.",
      "position": [224, 560],
      "parameters": {
        "jsCode": "// Parses the inbound Twilio SMS and classifies it as STOP, UNSTOP, or neither.\n// Also reads OPS1_SHEET_ID here so downstream nodes have sheet_id available.\n\nconst SHEET_ID = $vars.OPS1_SHEET_ID;\nif (!SHEET_ID) {\n  throw new Error('Bar-Compliance Guardrail: OPS1_SHEET_ID n8n Variable is not set. Go to project → Variables tab and add it.');\n}\n\nconst raw  = $input.first().json;\nconst body = raw.body || raw;\n\n// Twilio POSTs form-encoded; n8n converts to JSON automatically.\nconst from    = (body.From || '').trim();\nconst smsBody = (body.Body || '').trim();\n\n// TCPA/Twilio standard STOP and UNSTOP keyword sets — match first word only.\nconst isStop   = /^(STOP|UNSUBSCRIBE|CANCEL|END|QUIT)\\b/i.test(smsBody);\nconst isUnstop = /^(UNSTOP|START)\\b/i.test(smsBody);\n\nreturn [{ json: {\n  from_phone:  from,\n  sms_body:    smsBody,\n  is_stop:     isStop,\n  is_unstop:   isUnstop,\n  sheet_id:    SHEET_ID,\n  received_at: new Date().toISOString(),\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000014",
      "name": "If SMS Contains STOP Keyword",
      "type": "n8n-nodes-base.if",
      "notes": "Routes STOP keywords to the opt-out append path.\n\nYes (STOP/UNSUBSCRIBE/CANCEL/END/QUIT) → read the Opt-Outs tab to check for a duplicate before appending.\nNo → check for UNSTOP keyword on the next gate.",
      "onError": "continueErrorOutput",
      "position": [448, 560],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_is_stop",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_stop }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000015",
      "name": "Read Opt-Outs For STOP SMS",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Reads the current Opt-Outs tab before appending — used to detect duplicate STOP entries.\n\nIf this phone number is already on the list, the workflow routes to a Skip node rather than appending a duplicate. This prevents the sheet from accumulating repeated entries for the same number if a client sends STOP more than once.\n\nIf the Opt-Outs tab is empty (no one has opted out yet), this returns 0 rows — the duplicate-check node handles that safely.\n\nCredential: same Google Sheets account used throughout this workflow.",
      "onError": "continueRegularOutput",
      "position": [672, 560],
      "parameters": {
        "options": {},
        "operation": "read",
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Opt-Outs"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.sheet_id }}"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000016",
      "name": "Check Duplicate STOP Opt-Out Entry",
      "type": "n8n-nodes-base.code",
      "notes": "Checks whether this phone number is already in the Opt-Outs tab.\n\nPhone numbers are compared case-insensitively after trimming. Twilio sends E.164 format (+14155551234) — if attorneys have entered numbers manually in a different format, the comparison may not match. Keep phone entries in E.164 format to ensure correct matching.\n\nIf the opt-out tab is empty (no rows yet), this safely returns already_opted_out: false.\n\nOutput: from_phone, sheet_id, received_at, already_opted_out (bool).",
      "position": [896, 560],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Checks whether the inbound phone number is already in the Opt-Outs tab.\n// Runs after Read Opt-Outs for STOP — handles 0 rows safely.\nconst rows  = $input.all();\nconst parse = $('Parse SMS For STOP Or UNSTOP Keywords').first().json;\nconst phone = (parse.from_phone || '').trim().toLowerCase();\n\nlet already_opted_out = false;\nfor (const row of rows) {\n  const r        = row.json;\n  const rowPhone = (r.phone || '').trim().toLowerCase();\n  if (rowPhone === phone) {\n    already_opted_out = true;\n    break;\n  }\n}\n\nreturn [{ json: {\n  from_phone:        phone,\n  sheet_id:          parse.sheet_id,\n  received_at:       parse.received_at,\n  already_opted_out,\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000017",
      "name": "If STOP Opt-Out Already Exists",
      "type": "n8n-nodes-base.if",
      "notes": "Prevents duplicate opt-out entries.\n\nYes (already on the list) → Skip — already opted out. No second entry written.\nNo (not on the list) → Append Opt-Out Entry.",
      "onError": "continueErrorOutput",
      "position": [1120, 560],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_duplicate",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.already_opted_out }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000018",
      "name": "Skip Duplicate STOP Logging",
      "type": "n8n-nodes-base.noOp",
      "notes": "Phone number is already in the Opt-Outs tab — no duplicate entry written. Twilio still receives HTTP 200. Visible in execution history for auditing.",
      "position": [1344, 480],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000019",
      "name": "Append New STOP Opt-Out Entry",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Appends a new row to the Opt-Outs tab when a STOP keyword is received.\n\nColumns written:\n  phone — client's E.164 phone number from Twilio's From field\n  email — left blank (STOP arrives by SMS; email opt-out must be managed separately)\n  opted_out_at — ISO 8601 timestamp of when the STOP was received\n  source — 'twilio-stop' so you can distinguish automated entries from manually added ones\n\nThe sub-workflow path reads this tab on every outbound message — once this row is written, all future messages to this number are automatically suppressed.\n\nIf the write fails (e.g., Google API error), the workflow still returns HTTP 200 to Twilio. Review failed executions in n8n to catch any logging gaps.",
      "onError": "continueRegularOutput",
      "position": [1344, 640],
      "parameters": {
        "columns": {
          "value": {
            "email": "",
            "phone": "={{ $json.from_phone }}",
            "source": "twilio-stop",
            "opted_out_at": "={{ $json.received_at }}"
          },
          "schema": [],
          "mappingMode": "defineBelow",
          "matchingColumns": []
        },
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Opt-Outs"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.sheet_id }}"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000020",
      "name": "If SMS Contains UNSTOP Keyword",
      "type": "n8n-nodes-base.if",
      "notes": "Routes UNSTOP/START keywords to the opt-out removal path.\n\nYes (UNSTOP or START) → read the Opt-Outs tab to find and remove this phone number.\nNo (unrelated inbound SMS — e.g., a question or general reply) → Skip — not a STOP or UNSTOP reply.",
      "onError": "continueErrorOutput",
      "position": [672, 1136],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_is_unstop",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_unstop }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000021",
      "name": "Read Opt-Outs For UNSTOP SMS",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Reads all rows from the Opt-Outs tab to find the matching phone number for removal.\n\nThe next node (Find Row to Remove) scans the returned rows for the UNSTOP sender's phone number and extracts its row_number — the sheet row index that the delete node needs.\n\nIf the tab is empty (no opted-out numbers), this returns 0 rows. The next node handles that safely and routes to Skip — not on opt-out list.\n\nCredential: same Google Sheets account used throughout this workflow.",
      "onError": "continueRegularOutput",
      "position": [896, 1056],
      "parameters": {
        "options": {},
        "operation": "read",
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Opt-Outs"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Parse SMS For STOP Or UNSTOP Keywords').first().json.sheet_id }}"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000022",
      "name": "Find UNSTOP Row Number For Deletion",
      "type": "n8n-nodes-base.code",
      "notes": "Scans the Opt-Outs tab rows and extracts the row_number of the matching phone entry.\n\nrow_number is provided by the Google Sheets read node on every output row. It equals the actual spreadsheet row number (1 = header, 2 = first data row). The delete node's 'startIndex' parameter accepts this value directly.\n\nPhone numbers are matched case-insensitively. Non-E.164 entries added manually (e.g., '415-555-1234' vs '+14155551234') will not match an E.164 UNSTOP sender — in that case the row is not found and the Skip branch runs. The attorney can remove the entry manually if needed.\n\nOutput: from_phone, sheet_id, found_row_number (integer or null), row_found (bool).",
      "position": [1120, 1056],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Finds the sheet row_number for the UNSTOP sender so the delete node can target it.\n// row_number from the Google Sheets read operation is 1-based and includes the header row\n// (header = row 1, first data row = row 2). This value maps directly to the delete node's\n// 'startIndex' parameter — no offset adjustment needed.\nconst rows  = $input.all();\nconst parse = $('Parse SMS For STOP Or UNSTOP Keywords').first().json;\nconst phone = (parse.from_phone || '').trim().toLowerCase();\n\nlet found_row_number = null;\nfor (const row of rows) {\n  const r        = row.json;\n  const rowPhone = (r.phone || '').trim().toLowerCase();\n  if (rowPhone === phone) {\n    found_row_number = r.row_number;\n    break;\n  }\n}\n\nreturn [{ json: {\n  from_phone:       phone,\n  sheet_id:         parse.sheet_id,\n  found_row_number,\n  row_found:        found_row_number !== null,\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000023",
      "name": "If Opt-Out Row Found For Deletion",
      "type": "n8n-nodes-base.if",
      "notes": "Routes based on whether the phone number is currently in the Opt-Outs tab.\n\nYes (found) → Delete Opt-Out Row.\nNo (not found) → Skip — not on opt-out list. Twilio still receives HTTP 200. The local list simply had no entry for this number — Twilio's carrier-level re-subscription is already handled by Twilio itself.",
      "onError": "continueErrorOutput",
      "position": [1344, 1056],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_row_found",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.row_found }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000024",
      "name": "Delete Opt-Out Row From Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Removes the client's phone number from the Opt-Outs tab when they send UNSTOP or START.\n\nUses found_row_number from Find Row to Remove — this is the actual spreadsheet row number (1-based, header = 1) returned by the Google Sheets read node. The delete node's 'startIndex' parameter accepts this value directly.\n\nAfter this row is deleted, future outbound messages to this number are no longer blocked by the sub-workflow opt-out check.\n\nNote: Twilio also processes UNSTOP at the carrier level independently. This node clears only the local Google Sheet opt-out list.",
      "onError": "continueRegularOutput",
      "position": [1568, 976],
      "parameters": {
        "toDelete": "rows",
        "operation": "delete",
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Opt-Outs"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.sheet_id }}"
        },
        "startIndex": "={{ $json.found_row_number }}",
        "numberToDelete": 1
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000025",
      "name": "Skip Opt-Out Row Deletion",
      "type": "n8n-nodes-base.noOp",
      "notes": "Phone number sent UNSTOP but was not found in the Opt-Outs tab — no sheet change needed. Twilio still receives HTTP 200. Twilio's carrier-level re-subscription is already processed by Twilio independently of this sheet.",
      "position": [1568, 1152],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "3300aa00-0007-4000-a000-000000000026",
      "name": "Skip Non STOP Or UNSTOP SMS",
      "type": "n8n-nodes-base.noOp",
      "notes": "Inbound message is not a STOP or UNSTOP keyword — no action taken. This branch handles all other inbound SMS on your Twilio number (questions, general replies, etc.). Twilio receives HTTP 200.",
      "position": [400, 1072],
      "parameters": {},
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {
    "When STOP SMS Received": [
      {
        "json": {
          "body": {
            "To": "+15550001234",
            "Body": "STOP",
            "From": "+14155551234",
            "ToZip": "10001",
            "SmsSid": "SM9876543210fedcba9876543210fedcba",
            "ToCity": "NEW YORK",
            "FromZip": "94105",
            "ToState": "NY",
            "FromCity": "SAN FRANCISCO",
            "NumMedia": "0",
            "FromState": "CA",
            "SmsStatus": "received",
            "ToCountry": "US",
            "AccountSid": "AC00000000000000000000000000000000",
            "ApiVersion": "2010-04-01",
            "MessageSid": "SM9876543210fedcba9876543210fedcba",
            "FromCountry": "US",
            "NumSegments": "1",
            "SmsMessageSid": "SM9876543210fedcba9876543210fedcba"
          },
          "query": {},
          "params": {},
          "headers": {
            "user-agent": "TwilioProxy/1.1",
            "content-type": "application/x-www-form-urlencoded",
            "x-twilio-signature": "aBcDeFgHiJkLmNoPqRsT=="
          },
          "webhookUrl": "https://your-n8n.example.com/webhook/twilio-stop",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "When Compliance Request Received": [
      {
        "json": {
          "channel": "sms",
          "message": "Hi Jane, it was our honor to serve you at Smith Law Firm. How was your experience? Reply 1–5 (1 = poor, 5 = excellent).",
          "matter_id": "M-2026-042",
          "recipient": "+14155551234",
          "template_id": "NTC-17"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "availableInMCP": false,
    "executionOrder": "v1",
    "executionTimeout": -1,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "nodeGroups": [],
  "staticData": null,
  "connections": {
    "If Opt-Out Row Found For Deletion": {
      "main": [
        [
          {
            "node": "Delete Opt-Out Row From Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Opt-Out Row Deletion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Recipient Opt-Out Status": {
      "main": [
        [
          {
            "node": "If Recipient Is Opted Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Opt-Out Disclaimer": {
      "main": [
        [
          {
            "node": "Append Compliance To Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Recipient Is Opted Out": {
      "main": [
        [
          {
            "node": "Append Opt-Out Event To Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Opt-Out Disclaimer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate And Normalize Compliance Data": {
      "main": [
        [
          {
            "node": "Read Opt-Out List From Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If SMS Contains STOP Keyword": {
      "main": [
        [
          {
            "node": "Read Opt-Outs For STOP SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If SMS Contains UNSTOP Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If STOP Opt-Out Already Exists": {
      "main": [
        [
          {
            "node": "Skip Duplicate STOP Logging",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append New STOP Opt-Out Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When STOP SMS Received": {
      "main": [
        [
          {
            "node": "Parse SMS For STOP Or UNSTOP Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If SMS Contains UNSTOP Keyword": {
      "main": [
        [
          {
            "node": "Read Opt-Outs For UNSTOP SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Non STOP Or UNSTOP SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Opt-Out Event To Sheets": {
      "main": [
        [
          {
            "node": "Process Suppressed Compliance Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate STOP Opt-Out Entry": {
      "main": [
        [
          {
            "node": "If STOP Opt-Out Already Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Compliance To Audit Log": {
      "main": [
        [
          {
            "node": "Process Approved Compliance Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Compliance Guardrail": {
      "main": [
        [
          {
            "node": "Validate And Normalize Compliance Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Opt-Out List From Sheets": {
      "main": [
        [
          {
            "node": "Check Recipient Opt-Out Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SMS For STOP Or UNSTOP Keywords": {
      "main": [
        [
          {
            "node": "If SMS Contains STOP Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Opt-Outs For STOP SMS": {
      "main": [
        [
          {
            "node": "Check Duplicate STOP Opt-Out Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find UNSTOP Row Number For Deletion": {
      "main": [
        [
          {
            "node": "If Opt-Out Row Found For Deletion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Compliance Request Received": {
      "main": [
        [
          {
            "node": "Initialize Compliance Guardrail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Opt-Outs For UNSTOP SMS": {
      "main": [
        [
          {
            "node": "Find UNSTOP Row Number For Deletion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "description": "Reusable sub-workflow that wraps any client-facing automation with ABA Op. 512-aligned compliance: opt-out list check, TCPA disclaimer insertion, and audit logging. Call it from every template that sends a client message. Returns { approved, message_out, suppression_reason } — the calling workflow sends only if approved is true and uses message_out (which contains the disclaimer). One Google Sheet, two tabs: Opt-Outs and Audit Log. Also includes a Twilio STOP handler webhook (Path B) that automatically writes STOP replies to the Opt-Outs tab and removes UNSTOP replies — activate the workflow to enable it."
}
