workflows/ntc-17-review-request-engine.json
{
  "name": "Review Request Engine",
  "tags": [],
  "nodes": [
    {
      "parameters": {
        "content": "## Review Request Engine\n\n### How it works\nTwo separate paths, one workflow. **Path A** receives a matter-close event, validates it, waits 48 hours (the research-backed sweet spot), runs the compliance guardrail, and sends a 1–5 star rating request by SMS. **Path B** fires when the client replies: 4–5 stars → Google Reviews link; 1–3 stars → private feedback form + firm alert. Every outbound message is logged to your compliance audit sheet.\n\n### Setup steps\n1. **n8n Variables** (project → Variables tab): `FIRM_NAME`, `FIRM_EMAIL`, `FIRM_FROM_EMAIL`, `FIRM_TWILIO_NUMBER`, `FIRM_GOOGLE_REVIEW_URL` (from Google Business Profile → Get more reviews), `FIRM_FEEDBACK_URL` (your private form link), `GUARDRAIL_WORKFLOW_ID`\n2. **Credentials**: wire `Twilio account` and `Email account (SMTP)` in project → Credentials tab\n3. **Path A trigger**: paste the When Matter Closed Production URL into your practice management system's webhook settings — subscribe to matter-closed or matter.updated events\n4. **Path B trigger**: paste the When Rating Reply Received Production URL into Twilio Console → Phone Numbers → your number → Messaging → When a message comes in → HTTP POST → Save\n5. **Bar-Compliance Guardrail**: deploy it first and paste its workflow ID into `GUARDRAIL_WORKFLOW_ID`\n6. **Database** (self-hosted only): must use Postgres for the 48-hour wait. n8n Cloud handles this automatically.\n\n### Customization\n- **Rating threshold**: change `rating >= 4` in Parse Rating Reply to adjust the happy/unhappy split\n- **Wait period**: change `MS_48H` in Set Up Review Request\n- **Alert email**: edit the subject and body in Alert Firm — Unhappy Client\n\n**Replaces:** Clio Reputation · Birdeye ($49–$250+/mo)",
        "height": 620,
        "width": 480
      },
      "id": "1700ff00-0006-4000-f000-000000000000",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-700, -500]
    },
    {
      "parameters": {
        "content": "**Receive and validate closure**\nAccepts matter-close events from Clio or any practice management system. Filters to genuine closures with a client phone number — ignores all other status updates.",
        "height": 250,
        "width": 740,
        "color": 7
      },
      "id": "1700ff00-0006-4000-f000-00000000000a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-80, -120]
    },
    {
      "parameters": {
        "content": "**Reject non-closures**\nNon-closure status changes and events missing a client phone number exit here silently.",
        "height": 400,
        "width": 224,
        "color": 7
      },
      "id": "1700ff00-0006-4000-f000-00000000000b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [660, -120]
    },
    {
      "parameters": {
        "content": "**Set up and wait**\nPrepares the rating request message, calculates the 48-hour send time, and pauses the workflow until that moment — the sweet spot when the outcome is fresh but stress has faded.",
        "height": 250,
        "width": 448,
        "color": 7
      },
      "id": "1700ff00-0006-4000-f000-00000000000c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [884, -120]
    },
    {
      "parameters": {
        "content": "**Send review request**\nCompliance check → if approved, texts the client a 1–5 star rating request and notifies your firm. If opted out, suppression is logged.",
        "height": 400,
        "width": 740,
        "color": 7
      },
      "id": "1700ff00-0006-4000-f000-00000000000d",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1332, -120]
    },
    {
      "parameters": {
        "content": "**Receive and route reply**\nPath B entry. Parses the client's SMS rating, filters non-rating messages, and routes happy clients (4–5) to the Google Reviews path and unhappy clients (1–3) to the private feedback path.",
        "height": 410,
        "width": 964,
        "color": 7
      },
      "id": "1700ff00-0006-4000-f000-00000000000e",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-80, 340]
    },
    {
      "parameters": {
        "content": "**Happy path (4–5 stars)**\nCompliance check → sends the Google Reviews link. Protects your public profile by routing only satisfied clients to Google.",
        "height": 370,
        "width": 336,
        "color": 7
      },
      "id": "1700ff00-0006-4000-f000-00000000000f",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [884, 130]
    },
    {
      "parameters": {
        "content": "**Unhappy path (1–3 stars)**\nCompliance check → sends a private feedback form link and immediately alerts your firm. Keeps concerns off your public Google profile so you can address them directly.",
        "height": 390,
        "width": 628,
        "color": 7
      },
      "id": "1700ff00-0006-4000-f000-00000000000g",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1220, 390]
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000001",
      "name": "When Matter Closed",
      "type": "n8n-nodes-base.webhook",
      "notes": "Receives the matter-close event from your practice management system.\n\nCopy the Production URL and paste it into your practice management system's webhook settings. Configure it to fire on 'matter closed' or 'matter updated to Closed status'.\n\nClio: Settings → Webhooks → New Webhook → Topic: Matter → paste this URL → subscribe to 'matter.updated' events. The Normalize and Validate Closure step detects status = 'Closed' automatically and ignores all other updates.\n\nGeneric: POST JSON with 'matter_status: closed' (or 'event_type: matter.closed'), 'client_phone', 'client_name', and 'matter_title'. See deploy guide for full field list.\n\nRequired fields:\n  matter_id — your internal matter reference\n  matter_title — the case name for the firm notification\n  client_name — used to personalise the SMS\n  client_phone — the number to text (required; without it the event is skipped)\n  matter_status or status — must equal 'closed' or 'Closed'",
      "position": [0, 0],
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567891",
      "parameters": {
        "httpMethod": "POST",
        "path": "review-request",
        "options": {}
      },
      "typeVersion": 2.1
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000002",
      "name": "Normalize and Validate Closure",
      "type": "n8n-nodes-base.code",
      "notes": "Reads the incoming webhook and extracts what the workflow needs: client name, phone, email, matter title, and whether this is a genuine closure.\n\nWorks with both Clio and generic practice management systems — detects the format automatically.\n\nValidity check: proceeds only when (1) matter status is 'Closed' and (2) a client phone number is present. Clio fires 'matter.updated' on every status change — this step filters to final closure only so no premature review requests are sent to active clients.\n\nOutput: matter_id, matter_title, client_name, client_phone, client_email, closed_at, source, is_valid_closure, received_at.",
      "position": [224, 0],
      "parameters": {
        "jsCode": "// Handles both Clio webhooks and generic matter-close payloads.\n// Sets is_valid_closure = true only when the event signals a genuine matter\n// closure and the client has a phone number to receive the review request.\n\nconst raw  = $input.first().json;\nconst body = raw.body || raw;\n\nlet normalized;\n\n// Clio webhook shape: { topic: 'matter', payload: { status: 'Closed', client: { ... } } }\nif (body.topic === 'matter' || (body.payload && body.payload.status !== undefined)) {\n  const p      = body.payload || body;\n  const status = (p.status || '').toLowerCase();\n  const client = p.client || {};\n  const phones = client.phone_numbers || [];\n\n  normalized = {\n    matter_id:    String(p.id || p.matter_id || ''),\n    matter_title: p.display_number || p.description || p.name || 'Matter',\n    client_name:  client.name || p.contact_name || '',\n    client_phone: (phones[0] && phones[0].number) || p.client_phone || '',\n    client_email: client.primary_email_address || p.client_email || '',\n    closed_at:    p.closed_at || new Date().toISOString(),\n    source:       'clio',\n    is_valid_closure: status === 'closed'\n      && !!((phones[0] && phones[0].number) || p.client_phone),\n  };\n} else {\n  // Generic webhook\n  const status    = (body.matter_status || body.status || '').toLowerCase();\n  const eventType = (body.event_type   || body.event  || '').toLowerCase();\n\n  normalized = {\n    matter_id:    String(body.matter_id || body.id || ''),\n    matter_title: body.matter_title || body.case_name || body.name || 'Matter',\n    client_name:  body.client_name  || body.contact_name || '',\n    client_phone: body.client_phone || body.phone        || '',\n    client_email: body.client_email || body.email        || '',\n    closed_at:    body.closed_at || new Date().toISOString(),\n    source:       'generic',\n    is_valid_closure: (status === 'closed' || /clos/i.test(eventType))\n      && !!(body.client_phone || body.phone),\n  };\n}\n\nreturn [{ json: { ...normalized, received_at: new Date().toISOString() } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000003",
      "name": "If Valid Matter Closure",
      "type": "n8n-nodes-base.if",
      "notes": "Decides whether to proceed — only genuine matter closures with a client phone number trigger the review request.\n\nClio fires 'matter.updated' on any status change, not just closure. Without this guard, a matter moved from Pending to Open would trigger a review request for an active client.\n\nYes (matter Closed + client phone present) → proceed to the 48-hour wait.\nNo (non-closure update, or no phone number) → route to Ignore Non-Closure Event.",
      "onError": "continueErrorOutput",
      "position": [448, 0],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_closure",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_valid_closure }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2.3
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000004",
      "name": "Ignore Non-Closure Event",
      "type": "n8n-nodes-base.noOp",
      "notes": "Safely ends the workflow for non-closure matter updates and events missing a client phone number. No messages sent. Visible in execution history for confirmation.",
      "position": [672, 150],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000005",
      "name": "Set Up Review Request",
      "type": "n8n-nodes-base.code",
      "notes": "Prepares the review request message and calculates the 48-hour send time.\n\nReads from n8n Variables (project → Variables tab):\n  FIRM_NAME — your law firm name as it appears in texts\n  FIRM_EMAIL — intake email (firm notifications go here)\n  FIRM_FROM_EMAIL — notification sender address; must be authorised by your SMTP account\n  FIRM_TWILIO_NUMBER — your Twilio number in +1XXXXXXXXXX format (the same number clients text back)\n  FIRM_GOOGLE_REVIEW_URL — Google Business Profile → Home → 'Get more reviews' → copy the short URL\n  FIRM_FEEDBACK_URL — a Google Form, Typeform, or your website contact page\n\nPath B (Parse Rating Reply) reads the same variables — set once in project → Variables tab, used by both paths.\n\nThe 48-hour wait is calculated from when this node runs (when the matter-close event arrives).",
      "position": [672, 0],
      "parameters": {
        "jsCode": "// Reads firm details from n8n Variables (project → Variables tab).\n// Set: FIRM_NAME, FIRM_EMAIL, FIRM_FROM_EMAIL, FIRM_TWILIO_NUMBER, FIRM_GOOGLE_REVIEW_URL, FIRM_FEEDBACK_URL\nconst FIRM_NAME            = $vars.FIRM_NAME;\nconst FIRM_EMAIL           = $vars.FIRM_EMAIL;              // firm-side notifications\nconst FROM_EMAIL           = $vars.FIRM_FROM_EMAIL;         // must be authorised by your SMTP account\nconst FIRM_TWILIO_NUMBER   = $vars.FIRM_TWILIO_NUMBER;      // your Twilio sending number (E.164)\nconst GOOGLE_REVIEW_URL    = $vars.FIRM_GOOGLE_REVIEW_URL;  // Google Business Profile → Get more reviews\nconst PRIVATE_FEEDBACK_URL = $vars.FIRM_FEEDBACK_URL;       // your internal feedback form\n\nconst item    = $input.first().json;\nconst now     = new Date();\n\n// 48-hour sweet spot — client remembers the outcome but acute stress has faded.\nconst MS_48H  = 48 * 60 * 60 * 1000;\nconst send_at = new Date(now.getTime() + MS_48H).toISOString();\n\nconst firstName = (item.client_name || '').split(' ')[0] || '';\nconst greeting  = firstName ? `Hi ${firstName}` : 'Hi there';\n\nconst ratingSms = `${greeting}, it was our honor to serve you at ${FIRM_NAME}. How was your experience? Reply 1–5 (1 = poor, 5 = excellent). Reply STOP to opt out.`;\n\nreturn [{ json: {\n  ...item,\n  firm_name:            FIRM_NAME,\n  firm_email:           FIRM_EMAIL,\n  from_email:           FROM_EMAIL,\n  firm_twilio_number:   FIRM_TWILIO_NUMBER,\n  google_review_url:    GOOGLE_REVIEW_URL,\n  private_feedback_url: PRIVATE_FEEDBACK_URL,\n  send_at,\n  rating_sms:           ratingSms,\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000006",
      "name": "Wait — 48h Sweet Spot",
      "type": "n8n-nodes-base.wait",
      "notes": "Pauses the workflow for 48 hours — the research-backed sweet spot for review requests in professional services. Clients who receive a request too soon feel pressured; too late and they've forgotten the details. 48 hours is the window when the outcome is fresh but the stress of the legal matter has faded.\n\nThe execution sits suspended in your n8n database during this wait — no server resources consumed.\n\nSelf-hosted n8n: must use Postgres as the database (not SQLite) for long waits to survive a restart. n8n Cloud handles this automatically.",
      "position": [896, 0],
      "webhookId": "c3d4e5f6-a7b8-9012-cdef-123456789013",
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $('Set Up Review Request').item.json.send_at }}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000007",
      "name": "Compliance Check — Rating Request",
      "type": "n8n-nodes-base.executeWorkflow",
      "notes": "Calls the Bar-Compliance Guardrail before sending the review request SMS.\n\nChecks whether the client has opted out. If not, attaches the TCPA opt-out instruction (already present in rating_sms — guardrail detects this and skips duplication). Logs the attempt to your compliance audit sheet regardless of outcome.\n\nThe guardrail workflow ID is read from the GUARDRAIL_WORKFLOW_ID n8n Variable (project → Variables tab). Set it to the numeric ID from the Bar-Compliance Guardrail workflow URL: .../workflow/WORKFLOW_ID.\n\nReturns: { approved, message_out, recipient, suppression_reason } plus all upstream fields.",
      "position": [1120, 0],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $vars.GUARDRAIL_WORKFLOW_ID }}",
          "mode": "expression"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channel": "sms",
            "recipient": "={{ $('Set Up Review Request').item.json.client_phone }}",
            "message": "={{ $('Set Up Review Request').item.json.rating_sms }}",
            "template_id": "NTC-17",
            "matter_id": "={{ $('Set Up Review Request').item.json.matter_id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "typeVersion": 1.3
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000008",
      "name": "If Approved to Send Rating Request",
      "type": "n8n-nodes-base.if",
      "notes": "Routes based on the compliance guardrail's decision.\n\nYes (approved: true) → sends the rating request SMS to the client.\nNo (approved: false) → client is on the opt-out list; message suppressed. The guardrail has already logged the suppression to your compliance sheet.",
      "onError": "continueErrorOutput",
      "position": [1344, 0],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_approved_a",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.approved }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2.3
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000009",
      "name": "Skip — contact opted out",
      "type": "n8n-nodes-base.noOp",
      "notes": "Client is on the opt-out list — no review request sent. The Bar-Compliance Guardrail has logged the suppression to your audit sheet. No further action needed.",
      "position": [1568, 150],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000010",
      "name": "Send Rating Request Text",
      "type": "n8n-nodes-base.twilio",
      "notes": "Sends the review request text to the client 48 hours after matter close.\n\nMessage example: 'Hi Jane, it was our honor to serve you at Smith Law Firm. How was your experience? Reply 1–5 (1 = poor, 5 = excellent). Reply STOP to opt out.'\n\nThe message comes from the compliance guardrail (message_out) — the opt-out instruction is already in the original text; the guardrail verified it and logged the send.\n\nCredential to wire: project → Credentials tab → New → search Twilio → enter Account SID and Auth Token from console.twilio.com → save as 'Twilio account'.\n\nWhen the client replies, Twilio fires the inbound message webhook to the Path B URL, which routes their rating. If Twilio returns an error here, the workflow continues to the firm notification so your team is still informed and can follow up manually.",
      "onError": "continueRegularOutput",
      "position": [1568, 0],
      "credentials": {
        "twilioApi": {
          "id": "1",
          "name": "Twilio account"
        }
      },
      "parameters": {
        "operation": "send",
        "from": "={{ $('Set Up Review Request').item.json.firm_twilio_number }}",
        "to": "={{ $json.recipient }}",
        "message": "={{ $json.message_out }}"
      },
      "typeVersion": 1
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000011",
      "name": "Notify Firm — Request Sent",
      "type": "n8n-nodes-base.emailSend",
      "notes": "Emails your firm a confirmation that the review request was sent, with the matter details and a reminder of how reply routing works.\n\nInformational only — no action needed unless a feedback alert follows.\n\nCredential: project → Credentials tab → New → search SMTP → enter your email provider's settings → save as 'Email account (SMTP)'. Supports Gmail, Outlook 365, Zoho Mail, and any SMTP provider.\n\nAll values (client name, matter title, etc.) are read from the Set Up Review Request node — not the immediate input — because the Twilio response from the previous step has a different data shape than the matter details.",
      "position": [1792, 0],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "Email account (SMTP)"
        }
      },
      "parameters": {
        "fromEmail": "={{ $('Set Up Review Request').item.json.from_email }}",
        "toEmail": "={{ $('Set Up Review Request').item.json.firm_email }}",
        "subject": "=Review request sent — {{ $('Set Up Review Request').item.json.matter_title }}",
        "emailType": "text",
        "text": "=A review request has been sent to {{ $('Set Up Review Request').item.json.client_name || 'your client' }} at {{ $('Set Up Review Request').item.json.client_phone }}.\n\nMatter: {{ $('Set Up Review Request').item.json.matter_title }}\nMatter ID: {{ $('Set Up Review Request').item.json.matter_id }}\nSent at: {{ $now }}\n\nWhen the client replies:\n  4–5 stars: they receive your Google Reviews link automatically\n  1–3 stars: they receive your private feedback form and you get an alert email\n\nNo action needed unless you receive a feedback alert."
      },
      "typeVersion": 2
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000012",
      "name": "When Rating Reply Received",
      "type": "n8n-nodes-base.webhook",
      "notes": "Receives the client's inbound reply SMS from Twilio.\n\nCopy the Production URL from this node and paste it into your Twilio number's messaging webhook:\n  Twilio Console → Phone Numbers → Manage → Active Numbers → click your number → Messaging Configuration → 'When a message comes in' → Webhook → paste this URL → HTTP POST → Save\n\nThis tells Twilio to POST every inbound SMS to this workflow for rating-based routing. The If Valid Rating guard handles non-rating messages (opt-outs, questions, unrelated texts) gracefully.\n\nImportant: this replaces any existing incoming-message webhook on that Twilio number. If you already route inbound SMS elsewhere, coordinate with your existing setup before saving.",
      "position": [0, 460],
      "webhookId": "b2c3d4e5-f6a7-8901-bcde-f12345678902",
      "parameters": {
        "httpMethod": "POST",
        "path": "review-reply",
        "options": {}
      },
      "typeVersion": 2.1
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000013",
      "name": "Parse Rating Reply",
      "type": "n8n-nodes-base.code",
      "notes": "Parses the client's SMS reply and prepares the routing decision and response messages.\n\nReads from n8n Variables (project → Variables tab) — the same variables set for Path A (Set Up Review Request). No separate configuration needed here.\n\nRating logic:\n  4 or 5 → happy path → client receives your Google Reviews link\n  1, 2, or 3 → unhappy path → client receives private feedback form + firm gets an alert\n\nThe parser is tolerant of extra text: '5 stars!' and '5 very happy' both read as 5. Only the leading digit is used.\n\nOpt-out handling: STOP, UNSUBSCRIBE, CANCEL, END, QUIT are filtered here — Twilio also handles STOP independently by suppressing future texts to that number.\n\nOutput: from_number, rating, is_happy, is_valid_rating, all firm config, and pre-built SMS text for each routing path.",
      "position": [224, 460],
      "parameters": {
        "jsCode": "// Reads firm details from n8n Variables (project → Variables tab) — must match Set Up Review Request (Path A).\nconst FIRM_NAME            = $vars.FIRM_NAME;\nconst FIRM_EMAIL           = $vars.FIRM_EMAIL;\nconst FROM_EMAIL           = $vars.FIRM_FROM_EMAIL;\nconst FIRM_TWILIO_NUMBER   = $vars.FIRM_TWILIO_NUMBER;\nconst GOOGLE_REVIEW_URL    = $vars.FIRM_GOOGLE_REVIEW_URL;\nconst PRIVATE_FEEDBACK_URL = $vars.FIRM_FEEDBACK_URL;\n\n// Guard: fail loudly if variables are not set.\nif (!GOOGLE_REVIEW_URL) {\n  throw new Error('FIRM_GOOGLE_REVIEW_URL n8n Variable is not set. Go to project → Variables tab and add it.');\n}\nif (!PRIVATE_FEEDBACK_URL) {\n  throw new Error('FIRM_FEEDBACK_URL n8n Variable is not set. Go to project → Variables tab and add it.');\n}\n\n// Parses the inbound Twilio SMS reply.\n// Twilio POSTs form-encoded fields: From (client number), Body (reply text).\nconst raw  = $input.first().json;\nconst body = raw.body || raw;\n\nconst fromNumber = (body.From || '').trim();\nconst rawReply   = (body.Body || '').trim();\n\n// Extract leading digit 1–5; tolerant of extra text like '5 great!'\nconst match  = rawReply.match(/^([1-5])/);\nconst rating = match ? parseInt(match[1]) : 0;\n\n// Filter opt-out keywords — Twilio also handles STOP automatically\nconst isOptOut      = /^(STOP|UNSUBSCRIBE|CANCEL|END|QUIT)/i.test(rawReply);\nconst isValidRating = !isOptOut && rating >= 1 && rating <= 5;\nconst isHappy       = rating >= 4;\n\nconst googleSms   = `Thank you! We're so glad you had a great experience at ${FIRM_NAME}. Would you mind leaving a quick Google review? It truly helps: ${GOOGLE_REVIEW_URL}`;\nconst feedbackSms = `Thank you for letting us know. We take every concern seriously and want to make this right. Please share your feedback privately here: ${PRIVATE_FEEDBACK_URL}`;\n\nreturn [{ json: {\n  from_number:          fromNumber,\n  raw_reply:            rawReply,\n  rating,\n  is_happy:             isHappy,\n  is_valid_rating:      isValidRating,\n  firm_name:            FIRM_NAME,\n  firm_email:           FIRM_EMAIL,\n  from_email:           FROM_EMAIL,\n  firm_twilio_number:   FIRM_TWILIO_NUMBER,\n  google_review_url:    GOOGLE_REVIEW_URL,\n  private_feedback_url: PRIVATE_FEEDBACK_URL,\n  google_sms:           googleSms,\n  feedback_sms:         feedbackSms,\n  received_at:          new Date().toISOString(),\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000014",
      "name": "If Valid Rating",
      "type": "n8n-nodes-base.if",
      "notes": "Checks whether the client's reply is a valid 1–5 rating before routing.\n\nTwilio fires this webhook for ALL inbound messages to your number — including opt-out replies (STOP), questions, and unrelated texts. Without this guard, a non-rating message would incorrectly trigger a Google Reviews link or a feedback alert.\n\nYes (1–5, not an opt-out) → proceed to happy/unhappy routing.\nNo (opt-out keyword, non-numeric, or unrelated text) → route to Ignore Non-Rating Reply.",
      "onError": "continueErrorOutput",
      "position": [448, 460],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_valid_rating",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_valid_rating }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2.3
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000015",
      "name": "Ignore Non-Rating Reply",
      "type": "n8n-nodes-base.noOp",
      "notes": "Safely ends the workflow for non-rating replies (opt-outs, questions, unrelated texts). No Google Reviews link or feedback form sent. Visible in execution history for auditing.",
      "position": [672, 620],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000016",
      "name": "Determine Rating Path",
      "type": "n8n-nodes-base.if",
      "notes": "Routes the client based on their rating — this is the rating gate that protects your Google profile.\n\n4 or 5 stars (Yes) → happy path → compliance check → sends Google Reviews link. Only clients with a genuinely positive experience reach your public Google profile.\n\n1, 2, or 3 stars (No) → unhappy path → compliance check → sends private feedback form + alerts your firm. Concerned clients go to a private channel where you can address the issue before it becomes a public negative review.",
      "onError": "continueErrorOutput",
      "position": [672, 460],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_happy",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_happy }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2.3
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000017",
      "name": "Compliance Check — Google Link",
      "type": "n8n-nodes-base.executeWorkflow",
      "notes": "Calls the Bar-Compliance Guardrail before sending the Google Reviews link.\n\nChecks whether the client has opted out. If not, attaches 'Reply STOP to opt out.' to the Google Reviews message and logs the send to your audit sheet.\n\nThe guardrail workflow ID is read from the GUARDRAIL_WORKFLOW_ID n8n Variable (project → Variables tab).",
      "position": [896, 370],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $vars.GUARDRAIL_WORKFLOW_ID }}",
          "mode": "expression"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channel": "sms",
            "recipient": "={{ $json.from_number }}",
            "message": "={{ $json.google_sms }}",
            "template_id": "NTC-17",
            "matter_id": ""
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "typeVersion": 1.3
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000018",
      "name": "If Approved to Send Google Link",
      "type": "n8n-nodes-base.if",
      "notes": "Routes based on the compliance guardrail's decision for the 4–5 star happy path.\n\nYes (approved) → sends Google Reviews link.\nNo (opted out) → suppressed; guardrail has logged the suppression.",
      "onError": "continueErrorOutput",
      "position": [1120, 370],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_approved_b_happy",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.approved }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2.3
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000019",
      "name": "Skip — opted out (4–5 stars)",
      "type": "n8n-nodes-base.noOp",
      "notes": "Client rated 4–5 stars but is on the opt-out list — Google Reviews link not sent. The Bar-Compliance Guardrail has logged the suppression to your audit sheet.",
      "position": [1344, 250],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000020",
      "name": "Send Google Reviews Link",
      "type": "n8n-nodes-base.twilio",
      "notes": "Sends the Google Reviews link to clients who rated 4 or 5 stars.\n\nMessage (with STOP instruction appended by the compliance guardrail): 'Thank you! We're so glad you had a great experience at Smith Law Firm. Would you mind leaving a quick Google review? It truly helps: [link]\\n\\nReply STOP to opt out.'\n\nThis is the rating gate: only clients with a positive experience reach this step and your public Google profile.",
      "onError": "continueRegularOutput",
      "position": [1344, 370],
      "credentials": {
        "twilioApi": {
          "id": "1",
          "name": "Twilio account"
        }
      },
      "parameters": {
        "operation": "send",
        "from": "={{ $('Parse Rating Reply').item.json.firm_twilio_number }}",
        "to": "={{ $json.recipient }}",
        "message": "={{ $json.message_out }}"
      },
      "typeVersion": 1
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000021",
      "name": "Compliance Check — Feedback Form",
      "type": "n8n-nodes-base.executeWorkflow",
      "notes": "Calls the Bar-Compliance Guardrail before sending the private feedback form link.\n\nChecks whether the client has opted out. If not, attaches 'Reply STOP to opt out.' to the feedback form message and logs the send to your audit sheet.\n\nThe guardrail workflow ID is read from the GUARDRAIL_WORKFLOW_ID n8n Variable (project → Variables tab).",
      "position": [896, 530],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $vars.GUARDRAIL_WORKFLOW_ID }}",
          "mode": "expression"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channel": "sms",
            "recipient": "={{ $json.from_number }}",
            "message": "={{ $json.feedback_sms }}",
            "template_id": "NTC-17",
            "matter_id": ""
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "typeVersion": 1.3
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000022",
      "name": "If Approved to Send Feedback Form",
      "type": "n8n-nodes-base.if",
      "notes": "Routes based on the compliance guardrail's decision for the 1–3 star unhappy path.\n\nYes (approved) → sends private feedback form link + alerts your firm.\nNo (opted out) → suppressed; guardrail has logged the suppression. No feedback link sent and no firm alert triggered.",
      "onError": "continueErrorOutput",
      "position": [1120, 530],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_approved_b_unhappy",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.approved }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2.3
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000023",
      "name": "Skip — opted out (1–3 stars)",
      "type": "n8n-nodes-base.noOp",
      "notes": "Client rated 1–3 stars but is on the opt-out list — private feedback form not sent and firm alert suppressed. The Bar-Compliance Guardrail has logged the suppression to your audit sheet.",
      "position": [1344, 650],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000024",
      "name": "Send Feedback Form Link",
      "type": "n8n-nodes-base.twilio",
      "notes": "Sends the private feedback form link to clients who rated 1, 2, or 3 stars.\n\nMessage (with STOP instruction appended by the compliance guardrail): 'Thank you for letting us know. We take every concern seriously and want to make this right. Please share your feedback privately here: [link]\\n\\nReply STOP to opt out.'\n\nThe private path keeps concerns off your public Google profile and gives your team a chance to address the issue — often converting an unhappy client into a loyal one. The next step alerts your firm immediately.",
      "onError": "continueRegularOutput",
      "position": [1344, 510],
      "credentials": {
        "twilioApi": {
          "id": "1",
          "name": "Twilio account"
        }
      },
      "parameters": {
        "operation": "send",
        "from": "={{ $('Parse Rating Reply').item.json.firm_twilio_number }}",
        "to": "={{ $json.recipient }}",
        "message": "={{ $json.message_out }}"
      },
      "typeVersion": 1
    },
    {
      "id": "1700ff00-0006-4000-f000-000000000025",
      "name": "Alert Firm — Unhappy Client",
      "type": "n8n-nodes-base.emailSend",
      "notes": "Emails your firm immediately when a client rates 1–3 stars.\n\nThe alert includes: the client's phone number (so you can call them directly), their rating, their raw reply text, and the private feedback form URL you sent them.\n\nThe 24-hour follow-up recommendation is intentional — research shows that firms who address a complaint directly within 24 hours resolve the concern the majority of the time and virtually eliminate the risk of a public negative review.\n\nUses the same 'Email account (SMTP)' credential as Path A.",
      "position": [1568, 510],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "Email account (SMTP)"
        }
      },
      "parameters": {
        "fromEmail": "={{ $('Parse Rating Reply').item.json.from_email }}",
        "toEmail": "={{ $('Parse Rating Reply').item.json.firm_email }}",
        "subject": "=Client feedback alert — {{ $('Parse Rating Reply').item.json.rating }}/5 rating from {{ $('Parse Rating Reply').item.json.from_number }}",
        "emailType": "text",
        "text": "=A client responded to your review request with a {{ $('Parse Rating Reply').item.json.rating }}/5 rating.\n\nTheir phone number: {{ $('Parse Rating Reply').item.json.from_number }}\nTheir reply: \"{{ $('Parse Rating Reply').item.json.raw_reply }}\"\nReceived: {{ $('Parse Rating Reply').item.json.received_at }}\n\nThey have been sent your private feedback form:\n{{ $('Parse Rating Reply').item.json.private_feedback_url }}\n\nRecommendation: follow up personally within 24 hours. A direct call often resolves the concern and prevents a public negative review."
      },
      "typeVersion": 2
    }
  ],
  "active": false,
  "pinData": {
    "When Matter Closed": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "x-clio-signature": "sha256=abc123def456"
          },
          "params": {},
          "query": {},
          "body": {
            "topic": "matter",
            "event": "matter.updated",
            "payload": {
              "id": 98765,
              "display_number": "Smith v. Jones #2026-042",
              "status": "Closed",
              "description": "Personal Injury — Slip and Fall",
              "closed_at": "2026-06-30T16:00:00.000Z",
              "client": {
                "name": "Jane Smith",
                "primary_email_address": "jane.smith@example.com",
                "phone_numbers": [
                  {
                    "number": "+14155551234",
                    "type": "Mobile",
                    "primary": true
                  }
                ]
              }
            }
          },
          "webhookUrl": "https://your-n8n.example.com/webhook/review-request",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "When Rating Reply Received": [
      {
        "json": {
          "headers": {
            "content-type": "application/x-www-form-urlencoded",
            "user-agent": "TwilioProxy/1.1",
            "x-twilio-signature": "aBcDeFgHiJkLmNoPqRsT=="
          },
          "params": {},
          "query": {},
          "body": {
            "ToCountry": "US",
            "ToState": "NY",
            "SmsMessageSid": "SM1234567890abcdef1234567890abcdef",
            "NumMedia": "0",
            "ToCity": "NEW YORK",
            "FromZip": "94105",
            "SmsSid": "SM1234567890abcdef1234567890abcdef",
            "FromState": "CA",
            "SmsStatus": "received",
            "FromCity": "SAN FRANCISCO",
            "Body": "5",
            "FromCountry": "US",
            "To": "+15550001234",
            "ToZip": "10001",
            "NumSegments": "1",
            "MessageSid": "SM1234567890abcdef1234567890abcdef",
            "AccountSid": "AC00000000000000000000000000000000",
            "From": "+14155551234",
            "ApiVersion": "2010-04-01"
          },
          "webhookUrl": "https://your-n8n.example.com/webhook/review-reply",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "nodeGroups": [],
  "staticData": null,
  "connections": {
    "When Matter Closed": {
      "main": [
        [{"node": "Normalize and Validate Closure", "type": "main", "index": 0}]
      ]
    },
    "Normalize and Validate Closure": {
      "main": [
        [{"node": "If Valid Matter Closure", "type": "main", "index": 0}]
      ]
    },
    "If Valid Matter Closure": {
      "main": [
        [{"node": "Set Up Review Request", "type": "main", "index": 0}],
        [{"node": "Ignore Non-Closure Event", "type": "main", "index": 0}]
      ]
    },
    "Set Up Review Request": {
      "main": [
        [{"node": "Wait — 48h Sweet Spot", "type": "main", "index": 0}]
      ]
    },
    "Wait — 48h Sweet Spot": {
      "main": [
        [{"node": "Compliance Check — Rating Request", "type": "main", "index": 0}]
      ]
    },
    "Compliance Check — Rating Request": {
      "main": [
        [{"node": "If Approved to Send Rating Request", "type": "main", "index": 0}]
      ]
    },
    "If Approved to Send Rating Request": {
      "main": [
        [{"node": "Send Rating Request Text", "type": "main", "index": 0}],
        [{"node": "Skip — contact opted out", "type": "main", "index": 0}]
      ]
    },
    "Send Rating Request Text": {
      "main": [
        [{"node": "Notify Firm — Request Sent", "type": "main", "index": 0}]
      ]
    },
    "When Rating Reply Received": {
      "main": [
        [{"node": "Parse Rating Reply", "type": "main", "index": 0}]
      ]
    },
    "Parse Rating Reply": {
      "main": [
        [{"node": "If Valid Rating", "type": "main", "index": 0}]
      ]
    },
    "If Valid Rating": {
      "main": [
        [{"node": "Determine Rating Path", "type": "main", "index": 0}],
        [{"node": "Ignore Non-Rating Reply", "type": "main", "index": 0}]
      ]
    },
    "Determine Rating Path": {
      "main": [
        [{"node": "Compliance Check — Google Link", "type": "main", "index": 0}],
        [{"node": "Compliance Check — Feedback Form", "type": "main", "index": 0}]
      ]
    },
    "Compliance Check — Google Link": {
      "main": [
        [{"node": "If Approved to Send Google Link", "type": "main", "index": 0}]
      ]
    },
    "If Approved to Send Google Link": {
      "main": [
        [{"node": "Send Google Reviews Link", "type": "main", "index": 0}],
        [{"node": "Skip — opted out (4–5 stars)", "type": "main", "index": 0}]
      ]
    },
    "Compliance Check — Feedback Form": {
      "main": [
        [{"node": "If Approved to Send Feedback Form", "type": "main", "index": 0}]
      ]
    },
    "If Approved to Send Feedback Form": {
      "main": [
        [{"node": "Send Feedback Form Link", "type": "main", "index": 0}],
        [{"node": "Skip — opted out (1–3 stars)", "type": "main", "index": 0}]
      ]
    },
    "Send Feedback Form Link": {
      "main": [
        [{"node": "Alert Firm — Unhappy Client", "type": "main", "index": 0}]
      ]
    }
  },
  "description": "Sends an SMS review request 48 hours after matter close — the sweet spot when clients remember the outcome but stress has faded. Clients who rate 4–5 stars receive a Google Reviews link; clients who rate 1–3 receive a private feedback form and trigger an internal alert. Replaces Clio Reputation and Birdeye ($49–$250+/mo). Two webhook triggers: matter-close (Path A) and client reply routing (Path B). Opt-out checking and TCPA disclaimer are handled by the Bar-Compliance Guardrail sub-workflow before every client message."
}
