workflows/pac-18-invoice-reminder-ladder.json
{
  "name": "Invoice Reminder & Collections Ladder",
  "tags": [],
  "nodes": [
    {
      "parameters": {
        "content": "## Invoice Reminder & Collections Ladder\n\n### How it works\n\nThis workflow runs daily at 8 AM via a cron trigger, fetches all overdue invoices from Clio's API, and calculates how many days each has been unpaid. Invoices that match a ladder step today (day 1, 7, 14, 30, or 60+) proceed to the reminder flow. Invoices at 60+ days go to a direct partner alert email. Earlier ladder steps build a client reminder email appropriate to the escalation level and send it through the Bar-Compliance Guardrail. Clio automatically removes paid invoices from the overdue set, so payment stops reminders with no extra logic.\n\n### Setup steps\n\n- Set FIRM_NAME, FIRM_EMAIL, FIRM_FROM_EMAIL, FIRM_PARTNER_EMAIL, FIRM_PAY_LINK, CLIO_BASE_URL, and GUARDRAIL_WORKFLOW_ID in n8n project Variables.\n- Wire a Clio API (Header Auth) credential and an SMTP email credential in project → Credentials tab.\n- Deploy the Bar-Compliance Guardrail workflow first and set its ID in GUARDRAIL_WORKFLOW_ID.\n- Toggle the workflow Active to start the daily schedule.\n\n### Customization\n\nChange the cron expression in Daily Invoice Check to run at a different time or on weekdays only. Edit the ladder step day windows in Normalize & Triage Invoices if your billing cycle differs. Adjust the email body tone for each ladder step in Build Client Reminder Email.",
        "width": 480,
        "height": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-840, -600],
      "id": "1800cc00-0003-4000-c000-000000000001",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Fetch and triage invoices\n\nRuns every morning, pulls all overdue invoices from Clio, calculates days overdue for each, and identifies which invoices hit a reminder ladder step today.",
        "width": 1020,
        "height": 290,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-80, -140],
      "id": "1800cc00-0003-4000-c000-000000000002",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## No invoices today\n\nEnds the run quietly when no invoices fall on a ladder step. Visible in execution history for audit purposes.",
        "width": 360,
        "height": 290,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [800, 60],
      "id": "1800cc00-0003-4000-c000-000000000003",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Partner escalation\n\nInvoices at 60+ days skip the client reminder and go directly to the managing partner for manual follow-up — a call, a payment plan offer, or a collections referral.",
        "width": 580,
        "height": 450,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [800, -300],
      "id": "1800cc00-0003-4000-c000-000000000004",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Send client reminder\n\nBuilds the appropriate escalation email (Day 1 friendly through Day 30 firm), routes it through the Bar-Compliance Guardrail for opt-out checking and footer insertion, then sends it.",
        "width": 1020,
        "height": 610,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1020, -300],
      "id": "1800cc00-0003-4000-c000-000000000005",
      "name": "Sticky Note4"
    },
    {
      "id": "1800cc00-0003-4000-c000-000000000006",
      "name": "Daily Invoice Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "notes": "Fires every day at 8am server time. Each run checks Clio for overdue invoices and sends whichever ladder step is due today.\n\nRunning daily (not weekday-only) ensures invoices that fall due on a Friday are not missed over the weekend.\n\nTo change the run time: edit the cron expression. Format: minute hour * * * (0 8 * * * = 8am every day).",
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "1800cc00-0003-4000-c000-000000000007",
      "name": "Fetch Overdue Invoices from Clio",
      "type": "n8n-nodes-base.httpRequest",
      "notes": "Pulls all overdue invoices from Clio in a single request. Clio automatically removes paid invoices from the overdue set — so when a client pays, their invoice disappears from this query and the reminder ladder stops with no extra logic needed.\n\nEU firms: set CLIO_BASE_URL to https://eu.app.clio.com\n\nReturns up to 200 invoices per run. If your firm regularly has more than 200 overdue invoices at once, add a loop over the `page` parameter.\n\nCredential: Clio API (Bearer token). Clio personal API tokens do not expire automatically, but rotate yours every 90 days as a security best practice.",
      "position": [220, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Clio API (Bearer token)"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.CLIO_BASE_URL }}/api/v4/bills.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "overdue" },
            { "name": "limit", "value": "200" },
            { "name": "fields", "value": "id,number,due_at,balance,total,share_url,client{id,name,email},matter{id,display_number}" }
          ]
        },
        "options": {}
      },
      "typeVersion": 4.4
    },
    {
      "id": "1800cc00-0003-4000-c000-000000000008",
      "name": "Normalize & Triage Invoices",
      "type": "n8n-nodes-base.code",
      "notes": "Computes how many days each overdue invoice has been unpaid and assigns a ladder step. Returns one item per invoice that is due for a reminder today.\n\nLadder windows use a 2-day range (e.g. days 1–2, 7–8) so a reminder is not missed if the cron runs a day late due to a server restart or holiday.\n\nInvoices with a zero or negative balance are skipped — Clio should not return these on the overdue endpoint, but this guards against it.\n\nIf no invoices are due for a reminder today, returns a single sentinel item with is_actionable: false, which the next node routes to a quiet skip.",
      "position": [440, 0],
      "parameters": {
        "jsCode": "const bills = $input.first().json.data || [];\nconst results = [];\n\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\nconst msPerDay = 24 * 60 * 60 * 1000;\n\nfor (const bill of bills) {\n  const balance = Number(bill.balance || 0);\n  if (balance <= 0) continue;\n\n  // Use noon UTC to avoid off-by-one errors caused by timezone offsets on the due date string\n  const dueDate = new Date(bill.due_at + 'T12:00:00Z');\n  dueDate.setHours(0, 0, 0, 0);\n  const daysOverdue = Math.max(0, Math.floor((today - dueDate) / msPerDay));\n\n  // 2-day windows per step absorb weekends and cron timing drift\n  let ladder_step = 'none';\n  if      (daysOverdue >= 1  && daysOverdue <= 2)  ladder_step = 'day1';\n  else if (daysOverdue >= 7  && daysOverdue <= 8)  ladder_step = 'day7';\n  else if (daysOverdue >= 14 && daysOverdue <= 15) ladder_step = 'day14';\n  else if (daysOverdue >= 30 && daysOverdue <= 31) ladder_step = 'day30';\n  else if (daysOverdue >= 60)                       ladder_step = 'day60';\n\n  if (ladder_step === 'none') continue;\n\n  results.push({\n    json: {\n      invoice_id:     bill.id,\n      invoice_number: bill.number,\n      due_date:       bill.due_at,\n      days_overdue:   daysOverdue,\n      balance:        balance,\n      total:          Number(bill.total || 0),\n      client_name:    bill.client?.name  || '',\n      client_email:   bill.client?.email || '',\n      matter_id:      bill.matter?.id                 || '',\n      matter_ref:     bill.matter?.display_number     || '',\n      share_url:      bill.share_url || '',\n      ladder_step,\n      is_actionable:  true\n    }\n  });\n}\n\nif (results.length === 0) {\n  return [{ json: { is_actionable: false, ladder_step: 'none', reason: 'No invoices due for a reminder today' } }];\n}\n\nreturn results;"
      },
      "typeVersion": 2
    },
    {
      "id": "1800cc00-0003-4000-c000-000000000009",
      "name": "If Invoice Due Today",
      "type": "n8n-nodes-base.if",
      "notes": "Routes invoices that hit a ladder step today to the reminder flow. Routes days with no matching invoices to a labelled Skip so you can see a clean record in your execution history.\n\nTrue (right output): invoice is actionable — continue to partner check or client reminder.\nFalse (bottom output): no reminders due today — stop.",
      "position": [660, 0],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_is_actionable",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_actionable }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "1800cc00-0003-4000-c000-00000000000a",
      "name": "Skip — no invoices due for reminder today",
      "type": "n8n-nodes-base.noOp",
      "notes": "No actionable invoices today. The workflow run is recorded in execution history for audit purposes. No message is sent.",
      "position": [880, 200],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "1800cc00-0003-4000-c000-00000000000b",
      "name": "If Partner Escalation",
      "type": "n8n-nodes-base.if",
      "notes": "Invoices at 60+ days overdue go directly to the managing partner for manual intervention — a personal call or referral to collections.\n\nThe partner alert bypasses the client-facing compliance guardrail because it is an internal firm email, not a client communication.\n\nTrue (right output): day60 — alert the partner.\nFalse (bottom output): day1, 7, 14, or 30 — send the standard client reminder through the compliance guardrail.",
      "position": [880, 0],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_day60",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.ladder_step }}",
              "rightValue": "day60"
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "1800cc00-0003-4000-c000-00000000000c",
      "name": "Build Partner Alert",
      "type": "n8n-nodes-base.code",
      "notes": "Builds the partner escalation email for invoices 60+ days overdue. Includes client name, matter reference, balance, and a direct pay link.\n\nThe pay link uses Clio's share_url for the invoice if available (a direct client-specific payment page), falling back to the FIRM_PAY_LINK variable.\n\nThis is an internal email — no opt-out footer or compliance guardrail needed.",
      "position": [1100, -160],
      "parameters": {
        "jsCode": "const invoice = $input.first().json;\nconst FIRM_NAME      = $vars.FIRM_NAME;\nconst PARTNER_EMAIL  = $vars.FIRM_PARTNER_EMAIL;\nconst FROM_EMAIL     = $vars.FIRM_FROM_EMAIL;\nconst PAY_LINK       = invoice.share_url || $vars.FIRM_PAY_LINK || '';\n\nconst subject = `Action required: Invoice ${invoice.invoice_number} is ${invoice.days_overdue} days overdue`;\n\nconst body = `An invoice has passed the 60-day threshold and needs your attention.\n\nClient: ${invoice.client_name}\nMatter: ${invoice.matter_ref}\nInvoice: ${invoice.invoice_number}\nBalance due: $${Number(invoice.balance).toFixed(2)}\nOriginal total: $${Number(invoice.total).toFixed(2)}\nDue date: ${invoice.due_date}\nDays overdue: ${invoice.days_overdue}\n\nClient pay link: ${PAY_LINK}\n\nRecommended next steps:\n1. Call the client directly\n2. Offer a payment plan if appropriate\n3. Refer to collections if no response within 7 days\n\n— ${FIRM_NAME} Billing System`;\n\nreturn [{\n  json: {\n    ...invoice,\n    partner_email: PARTNER_EMAIL,\n    from_email:    FROM_EMAIL,\n    subject,\n    body\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "1800cc00-0003-4000-c000-00000000000d",
      "name": "Alert Partner — Invoice 60+ Days Overdue",
      "type": "n8n-nodes-base.emailSend",
      "notes": "Sends the 60-day escalation alert to the managing partner. The partner can then call the client directly, offer a payment plan, or refer to collections.\n\nSet FIRM_PARTNER_EMAIL in n8n Variables (project → Variables tab) to the partner's email address.\n\nCredential: Email account (SMTP) — same SMTP account used for client reminders.",
      "position": [1320, -160],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "Email account (SMTP)"
        }
      },
      "parameters": {
        "fromEmail": "={{ $json.from_email }}",
        "toEmail": "={{ $json.partner_email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "text": "={{ $json.body }}",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "1800cc00-0003-4000-c000-00000000000e",
      "name": "Build Client Reminder Email",
      "type": "n8n-nodes-base.code",
      "notes": "Builds the client-facing reminder email for the appropriate ladder step. Tone escalates from friendly (Day 1) to firm (Day 30).\n\nThe pay link uses Clio's per-invoice share_url when available — this gives clients a direct, pre-populated payment page. Falls back to FIRM_PAY_LINK if Clio does not return a share_url.\n\nDo not add an opt-out footer here — the compliance guardrail (next node) appends it automatically. The guardrail also logs the send attempt to your audit sheet.\n\nVariables required: FIRM_NAME, FIRM_EMAIL, FIRM_PAY_LINK.",
      "position": [1100, 0],
      "parameters": {
        "jsCode": "const invoice = $input.first().json;\nconst FIRM_NAME  = $vars.FIRM_NAME;\nconst FIRM_EMAIL = $vars.FIRM_EMAIL;\nconst PAY_LINK   = invoice.share_url || $vars.FIRM_PAY_LINK || '';\n\nconst steps = {\n  day1: {\n    subject: `Invoice ${invoice.invoice_number} — payment reminder`,\n    body: `Hi ${invoice.client_name},\n\nThis is a friendly reminder that invoice ${invoice.invoice_number} for $${Number(invoice.balance).toFixed(2)} was due on ${invoice.due_date}.\n\nYou can pay securely using the link below:\n${PAY_LINK}\n\nIf you have questions or believe this was sent in error, please reply to this email or contact us at ${FIRM_EMAIL}.\n\nThank you,\n${FIRM_NAME}`\n  },\n  day7: {\n    subject: `Second reminder: Invoice ${invoice.invoice_number} — 7 days past due`,\n    body: `Hi ${invoice.client_name},\n\nWe wanted to follow up on invoice ${invoice.invoice_number} for $${Number(invoice.balance).toFixed(2)}, which remains unpaid 7 days past the due date of ${invoice.due_date}.\n\nPay securely here:\n${PAY_LINK}\n\nIf you are experiencing difficulties with payment, please reach out — we may be able to help.\n\n${FIRM_NAME} | ${FIRM_EMAIL}`\n  },\n  day14: {\n    subject: `Third notice: Invoice ${invoice.invoice_number} — 14 days past due`,\n    body: `Hi ${invoice.client_name},\n\nInvoice ${invoice.invoice_number} for $${Number(invoice.balance).toFixed(2)} is now 14 days past due.\n\nPay here:\n${PAY_LINK}\n\nIf there is a dispute or you have not received this invoice previously, contact us immediately at ${FIRM_EMAIL}.\n\n${FIRM_NAME}`\n  },\n  day30: {\n    subject: `Final notice: Invoice ${invoice.invoice_number} — 30 days past due`,\n    body: `Hi ${invoice.client_name},\n\nThis is a final notice. Invoice ${invoice.invoice_number} for $${Number(invoice.balance).toFixed(2)} is now 30 days past due. Unresolved balances may be referred for collection.\n\nPay now to avoid further action:\n${PAY_LINK}\n\nTo resolve this immediately, contact us at ${FIRM_EMAIL}.\n\n${FIRM_NAME}`\n  }\n};\n\nconst step = steps[invoice.ladder_step] || steps.day1;\n\nreturn [{\n  json: {\n    ...invoice,\n    channel:     'email',\n    recipient:   invoice.client_email,\n    message:     step.body,\n    subject:     step.subject,\n    template_id: 'PAC-18-invoice-reminder',\n    matter_id:   String(invoice.matter_id || '')\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "1800cc00-0003-4000-c000-00000000000f",
      "name": "Compliance Check — Invoice Reminder",
      "type": "n8n-nodes-base.executeWorkflow",
      "notes": "Checks whether this client has opted out of billing email reminders. If not, appends the required unsubscribe footer and logs the send attempt to your audit sheet.\n\nThe guardrail workflow ID is read from the GUARDRAIL_WORKFLOW_ID n8n Variable (project → Variables tab). Set it to the numeric ID from the Bar-Compliance Guardrail workflow URL: .../workflow/WORKFLOW_ID.\n\nPrerequisite: Bar-Compliance Guardrail must be deployed and active.\n\nReturns: { approved, message_out, recipient, suppression_reason } plus all upstream fields.",
      "position": [1320, 0],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $vars.GUARDRAIL_WORKFLOW_ID }}",
          "mode": "expression"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channel": "={{ $json.channel }}",
            "recipient": "={{ $json.recipient }}",
            "message": "={{ $json.message }}",
            "template_id": "={{ $json.template_id }}",
            "matter_id": "={{ $json.matter_id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "typeVersion": 1.3
    },
    {
      "id": "1800cc00-0003-4000-c000-000000000010",
      "name": "If Approved to Send Reminder",
      "type": "n8n-nodes-base.if",
      "notes": "Checks the guardrail's decision before sending.\n\nTrue (right output): client is reachable and has not opted out — send the reminder.\nFalse (bottom output): client has opted out — route to Skip and do not send.",
      "position": [1540, 0],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_approved",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.approved }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "1800cc00-0003-4000-c000-000000000011",
      "name": "Send Invoice Reminder",
      "type": "n8n-nodes-base.emailSend",
      "notes": "Sends the compliance-approved invoice reminder to the client. Uses message_out from the guardrail, which includes the required unsubscribe footer.\n\nThe subject line is pulled from the Build Client Reminder Email node (the guardrail does not modify subjects).\n\nCredential: Email account (SMTP). Set FIRM_FROM_EMAIL in n8n Variables to the sender address clients will see.",
      "position": [1760, 0],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "Email account (SMTP)"
        }
      },
      "parameters": {
        "fromEmail": "={{ $vars.FIRM_FROM_EMAIL }}",
        "toEmail": "={{ $json.recipient }}",
        "subject": "={{ $('Build Client Reminder Email').item.json.subject }}",
        "emailType": "text",
        "text": "={{ $json.message_out }}",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "1800cc00-0003-4000-c000-000000000012",
      "name": "Skip — client opted out",
      "type": "n8n-nodes-base.noOp",
      "notes": "This client has opted out of billing reminders. The suppression is logged by the guardrail workflow. No email is sent.",
      "position": [1760, 160],
      "parameters": {},
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {
    "Daily Invoice Check": [
      { "json": {}, "pairedItem": { "item": 0 } }
    ],
    "Fetch Overdue Invoices from Clio": [
      {
        "json": {
          "data": [
            {
              "id": 1042,
              "number": "INV-2026-042",
              "due_at": "2026-06-06",
              "balance": 2500.00,
              "total": 2500.00,
              "share_url": "https://app.clio.com/bills/1042/pay",
              "client": {
                "id": 501,
                "name": "Margaret Chen",
                "email": "m.chen@example.com"
              },
              "matter": {
                "id": 301,
                "display_number": "2026-CH-042"
              }
            },
            {
              "id": 1039,
              "number": "INV-2026-039",
              "due_at": "2026-04-08",
              "balance": 4750.00,
              "total": 5200.00,
              "share_url": "https://app.clio.com/bills/1039/pay",
              "client": {
                "id": 498,
                "name": "Robert Avila",
                "email": "r.avila@example.com"
              },
              "matter": {
                "id": 295,
                "display_number": "2026-AV-039"
              }
            }
          ],
          "meta": {
            "paging": {
              "next": null,
              "previous": null
            },
            "records": 2
          }
        },
        "pairedItem": { "item": 0 }
      }
    ]
  },
  "settings": {
    "availableInMCP": false,
    "executionOrder": "v1",
    "executionTimeout": 60,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "nodeGroups": [],
  "staticData": null,
  "connections": {
    "Daily Invoice Check": {
      "main": [
        [{ "node": "Fetch Overdue Invoices from Clio", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Overdue Invoices from Clio": {
      "main": [
        [{ "node": "Normalize & Triage Invoices", "type": "main", "index": 0 }]
      ]
    },
    "Normalize & Triage Invoices": {
      "main": [
        [{ "node": "If Invoice Due Today", "type": "main", "index": 0 }]
      ]
    },
    "If Invoice Due Today": {
      "main": [
        [{ "node": "If Partner Escalation", "type": "main", "index": 0 }],
        [{ "node": "Skip — no invoices due for reminder today", "type": "main", "index": 0 }]
      ]
    },
    "If Partner Escalation": {
      "main": [
        [{ "node": "Build Partner Alert", "type": "main", "index": 0 }],
        [{ "node": "Build Client Reminder Email", "type": "main", "index": 0 }]
      ]
    },
    "Build Partner Alert": {
      "main": [
        [{ "node": "Alert Partner — Invoice 60+ Days Overdue", "type": "main", "index": 0 }]
      ]
    },
    "Build Client Reminder Email": {
      "main": [
        [{ "node": "Compliance Check — Invoice Reminder", "type": "main", "index": 0 }]
      ]
    },
    "Compliance Check — Invoice Reminder": {
      "main": [
        [{ "node": "If Approved to Send Reminder", "type": "main", "index": 0 }]
      ]
    },
    "If Approved to Send Reminder": {
      "main": [
        [{ "node": "Send Invoice Reminder", "type": "main", "index": 0 }],
        [{ "node": "Skip — client opted out", "type": "main", "index": 0 }]
      ]
    }
  }
}
